# Part 2: Full Data Workflow A-Z

## Importing Data from the Web  with pd.read_html()

In [1]:
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/1976_Summer_Olympics_medal_table"

In [14]:
pd.read_html(url)
# 얘는 페이지의 모든 표 데이터를 확인 후 리스트로 넘겨주는 역할을 한다.

[           1976 Summer Olympics medals        1976 Summer Olympics medals.1
 0                             Location                     Montreal, Canada
 1                           Highlights                           Highlights
 2                     Most gold medals                    Soviet Union (49)
 3                    Most total medals                   Soviet Union (125)
 4  ← 1972 Olympics medal tables 1980 →  ← 1972 Olympics medal tables 1980 →,
                                                    0
 0                                Part of a series on
 1                               1976 Summer Olympics
 2  Bid process (bid details) Boycott Development ...
 3  .mw-parser-output .navbar{display:inline;font-...,
                 Rank                  NOC  Gold  Silver  Bronze  Total
 0                  1         Soviet Union    49      41      35    125
 1                  2         East Germany    40      25      25     90
 2                  3        United States    34      35      25     94
 3                  4         West Germany    10      12      17     39
 4                  5                Japan     9       6      10     25
 5                  6               Poland     7       6      13     26
 6                  7             Bulgaria     6       9       7     22
 7                  8                 Cuba     6       4       3     13
 8                  9              Romania     4       9      14     27
 9                 10              Hungary     4       5      13     22
 10                11              Finland     4       2       0      6
 11                12               Sweden     4       1       0      5
 12                13        Great Britain     3       5       5     13
 13                14                Italy     2       7       4     13
 14                15               France     2       3       4      9
 15                16           Yugoslavia     2       3       3      8
 16                17       Czechoslovakia     2       2       4      8
 17                18          New Zealand     2       1       1      4
 18                19          South Korea     1       1       4      6
 19                20          Switzerland     1       1       2      4
 20                21              Jamaica     1       1       0      2
 21                21          North Korea     1       1       0      2
 22                21               Norway     1       1       0      2
 23                24              Denmark     1       0       2      3
 24                25               Mexico     1       0       1      2
 25                26  Trinidad and Tobago     1       0       0      1
 26                27              Canada*     0       5       6     11
 27                28              Belgium     0       3       3      6
 28                29          Netherlands     0       2       3      5
 29                30             Portugal     0       2       0      2
 30                30                Spain     0       2       0      2
 31                32            Australia     0       1       4      5
 32                33                 Iran     0       1       1      2
 33                34             Mongolia     0       1       0      1
 34                34            Venezuela     0       1       0      1
 35                36               Brazil     0       0       2      2
 36                37              Austria     0       0       1      1
 37                37              Bermuda     0       0       1      1
 38                37             Pakistan     0       0       1      1
 39                37          Puerto Rico     0       0       1      1
 40                37             Thailand     0       0       1      1
 41  Totals (41 NOCs)     Totals (41 NOCs)   198     199     216    613,
                Olympics             Athlete   Country  Medal  \
 0  1976 Summer Olympics   Valentin Khristov  Bulgaria    NaN
 1  1976 Summer Olympics      Blagoy Blagoev  Bulgaria    NaN
 2  1976 Summer Olympics  Zbigniew Kaczmarek    Poland    NaN

                           Event   Ref
 0   Weightlifting, Men's 110 kg  [11]
 1  Weightlifting, Men's 82.5 kg  [12]
 2  Weightlifting, Men's 67.5 kg  [13]  ,
                       vte Olympic Games medal tables  \
 0  Olympic medal All-time Olympic Games medal tab...
 1                               Summer Olympic Games
 2                               Winter Olympic Games
 3  Lists of Olympic medalists List of stripped Ol...

                     vte Olympic Games medal tables.1
 0  Olympic medal All-time Olympic Games medal tab...
 1  1896 1900 1904 1908 1912 1920 1924 1928 1932 1...
 2  1924 1928 1932 1936 1948 1952 1956 1960 1964 1...
 3  Lists of Olympic medalists List of stripped Ol...  ,
      vte Summer Olympics medal table leaders by year  \
 0  .mw-parser-output .div-col{margin-top:0.3em;co...

    vte Summer Olympics medal table leaders by year.1
 0  .mw-parser-output .div-col{margin-top:0.3em;co...  ]

In [3]:
pd.read_html(url)[1]

                                                   0
0                                Part of a series on
1                               1976 Summer Olympics
2  Bid process (bid details) Boycott Development ...
3  .mw-parser-output .navbar{display:inline;font-...

In [4]:
wik_1976 = pd.read_html(url)[0]

In [5]:
wik_1976.head()

           1976 Summer Olympics medals        1976 Summer Olympics medals.1
0                             Location                     Montreal, Canada
1                           Highlights                           Highlights
2                     Most gold medals                    Soviet Union (49)
3                    Most total medals                   Soviet Union (125)
4  ← 1972 Olympics medal tables 1980 →  ← 1972 Olympics medal tables 1980 →

In [6]:
wik_1976.tail()

           1976 Summer Olympics medals        1976 Summer Olympics medals.1
0                             Location                     Montreal, Canada
1                           Highlights                           Highlights
2                     Most gold medals                    Soviet Union (49)
3                    Most total medals                   Soviet Union (125)
4  ← 1972 Olympics medal tables 1980 →  ← 1972 Olympics medal tables 1980 →

In [7]:
wik_1976.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   1976 Summer Olympics medals    5 non-null      object
 1   1976 Summer Olympics medals.1  5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [8]:
url2 ="https://en.wikipedia.org/wiki/1996_Summer_Olympics_medal_table"

In [9]:
pd.read_html(url2)[1]

                                                   0
0                                Part of a series on
1                               1996 Summer Olympics
2  Bid process (bid details) Venues Marketing (ma...
3  .mw-parser-output .navbar{display:inline;font-...

In [10]:
wik_1996 = pd.read_html(url2)[1]

In [11]:
wik_1996.head()

                                                   0
0                                Part of a series on
1                               1996 Summer Olympics
2  Bid process (bid details) Venues Marketing (ma...
3  .mw-parser-output .navbar{display:inline;font-...

In [12]:
wik_1996.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [13]:
wik_1976.to_csv("wik_1976.csv", index= False)
wik_1996.to_csv("wik_1996.csv", index= False)