In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/kyungyunlee/Desktop/PYTHON/data.csv")

In [3]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   x_value  377 non-null    float64
 1   y_value  377 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 6.0 KB

In [6]:
df["peak_num"] = 0
cond1 = df.y_value > df.y_value.shift()
cond2 = df.y_value > df.y_value.shift(-1)
df.loc[cond1&cond2, "peak_num"] = 1
df

       x_value  y_value  peak_num
0     0.003957      355         0
1     0.096198        0         0
2     0.126745      370         0
3     0.152379      374         1
4     0.177504      337         0
..         ...      ...       ...
372  10.058311      353         0
373  10.085144      388         1
374  10.111067      355         0
375  10.138249      387         1
376  10.164649      364         0

[377 rows x 3 columns]

In [150]:
df = df.loc[df["peak_num"] == 1]
df["time_gap"] = df.x_value - df.x_value.shift()
df["frequencies(HZ)"] = 1 / df["time_gap"]
df_a = df.copy()
df_a.to_csv("/Users/kyungyunlee/Desktop/PYTHON/data_frequency.csv")