# Part 1: Pandas - from Zero to Hero

## DataFrame Basics III

### Sorting DataFrames (Version 1.0 Update)

In [293]:
import pandas as pd

In [294]:
titanic = pd.read_csv("titanic.csv")

In [295]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [296]:
titanic.age.sort_values()
# sort_value의 기본설정은 오름차순으로 숫자가 작은거부터 큰 순으로 배열되는 것이다.

803    0.42
755    0.67
644    0.75
469    0.75
78     0.83
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

In [297]:
titanic.sort_values(by = "age")
# by파라미터를 통해서 기준이 될 칼럼을 지정해서 수행이 가능하다.

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
803         1       3    male  0.42      0      1   8.5167        C  NaN
755         1       2    male  0.67      1      1  14.5000        S  NaN
644         1       3  female  0.75      2      1  19.2583        C  NaN
469         1       3  female  0.75      2      1  19.2583        C  NaN
78          1       2    male  0.83      0      2  29.0000        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
859         0       3    male   NaN      0      0   7.2292        C  NaN
863         0       3  female   NaN      8      2  69.5500        S  NaN
868         0       3    male   NaN      0      0   9.5000        S  NaN
878         0       3    male   NaN      0      0   7.8958        S  NaN
888         0       3  female   NaN      1      2  23.4500        S  NaN

[891 rows x 9 columns]

In [298]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [299]:
titanic.sort_values(by = "age", ascending = False, inplace = True)
# 이렇게 하면 카피를 만들지 않고, 데이터 프레임 자체를 조정한다.

In [300]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
630         1       1    male  80.0      0      0  30.0000        S    A
851         0       3    male  74.0      0      0   7.7750        S  NaN
493         0       1    male  71.0      0      0  49.5042        C  NaN
96          0       1    male  71.0      0      0  34.6542        C    A
116         0       3    male  70.5      0      0   7.7500        Q  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
859         0       3    male   NaN      0      0   7.2292        C  NaN
863         0       3  female   NaN      8      2  69.5500        S  NaN
868         0       3    male   NaN      0      0   9.5000        S  NaN
878         0       3    male   NaN      0      0   7.8958        S  NaN
888         0       3  female   NaN      1      2  23.4500        S  NaN

[891 rows x 9 columns]

In [301]:
titanic.sort_values(by = ["pclass", "sex", "age"], ascending = [True, True, False], inplace= True)
# 먼저 pclass, 다음 순으로 정렬을 해간다, 그리고 ascending도 순서에 맞게 리스트로 넣어준다.

In [302]:
pd.options.display.max_rows = 900

In [303]:
titanic

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
275         1       1  female  63.00      1      0   77.9583        S    D
829         1       1  female  62.00      0      0   80.0000      NaN    B
366         1       1  female  60.00      1      0   75.2500        C    D
268         1       1  female  58.00      0      1  153.4625        S    C
11          1       1  female  58.00      0      0   26.5500        S    C
195         1       1  female  58.00      0      0  146.5208        C    B
879         1       1  female  56.00      0      1   83.1583        C    C
496         1       1  female  54.00      1      0   78.2667        C    D
513         1       1  female  54.00      1      0   59.4000        C  NaN
571         1       1  female  53.00      2      0   51.4792        S    C
820         1       1  female  52.00      1      1   93.5000        S    B
591         1       1  female  52.00      1      0   78.2667        C    D
765         1       1  female  51.00      1      0   77.9583        S    D
299         1       1  female  50.00      0      1  247.5208        C    B
177         0       1  female  50.00      0      0   28.7125        C    C
52          1       1  female  49.00      1      0   76.7292        C    D
796         1       1  female  49.00      0      0   25.9292        S    D
556         1       1  female  48.00      1      0   39.6000        C    A
862         1       1  female  48.00      0      0   25.9292        S    D
871         1       1  female  47.00      1      1   52.5542        S    D
856         1       1  female  45.00      1      1  164.8667        S  NaN
523         1       1  female  44.00      0      1   57.9792        C    B
194         1       1  female  44.00      0      0   27.7208        C    B
779         1       1  female  43.00      0      1  211.3375        S    B
380         1       1  female  42.00      0      0  227.5250        C  NaN
337         1       1  female  41.00      0      0  134.5000        C    E
609         1       1  female  40.00      0      0  153.4625        S    C
319         1       1  female  40.00      1      1  134.5000        C    E
581         1       1  female  39.00      1      1  110.8833        C    C
577         1       1  female  39.00      1      0   55.9000        S    E
558         1       1  female  39.00      1      1   79.6500        S    E
835         1       1  female  39.00      1      1   83.1583        C    E
716         1       1  female  38.00      0      0  227.5250        C    C
61          1       1  female  38.00      0      0   80.0000      NaN    B
1           1       1  female  38.00      1      0   71.2833        C    C
763         1       1  female  36.00      1      2  120.0000        S    B
540         1       1  female  36.00      0      2   71.0000        S    B
325         1       1  female  36.00      0      0  135.6333        C    C
486         1       1  female  35.00      1      0   90.0000        S    C
383         1       1  female  35.00      1      0   52.0000        S  NaN
269         1       1  female  35.00      0      0  135.6333        S    C
230         1       1  female  35.00      1      0   83.4750        S    C
3           1       1  female  35.00      1      0   53.1000        S    C
258         1       1  female  35.00      0      0  512.3292        C  NaN
809         1       1  female  33.00      1      0   53.1000        S    E
412         1       1  female  33.00      1      0   90.0000        Q    C
759         1       1  female  33.00      0      0   86.5000        S    B
218         1       1  female  32.00      0      0   76.2917        C    D
215         1       1  female  31.00      1      0  113.2750        C    D
318         1       1  female  31.00      0      2  164.8667        S    C
842         1       1  female  30.00      0      0   31.0000        C  NaN
520         1       1  female  30.00      0      0   93.5000        S    B
257         1       1  female  30.00      0      0   86.5000        S    B
309         1       1  female  30.00      0      0   56.9292        C    E
537         1       1  female  30.00      0      0  106.4250        C  NaN
730         1       1  female  29.00      0      0  211.3375        S    B
290         1       1  female  26.00      0      0   78.8500        S  NaN
498         0       1  female  25.00      1      2  151.5500        S    C
710         1       1  female  24.00      0      0   49.5042        C    C
369         1       1  female  24.00      0      0   69.3000        C    B
341         1       1  female  24.00      3      2  263.0000        S    C
310         1       1  female  24.00      0      0   83.1583        C    C
641         1       1  female  24.00      0      0   69.3000        C    B
393         1       1  female  23.00      1      0  113.2750        C    D
88          1       1  female  23.00      3      2  263.0000        S    C
708         1       1  female  22.00      0      0  151.5500        S  NaN
356         1       1  female  22.00      0      1   55.0000        S    E
151         1       1  female  22.00      1      0   66.6000        S    C
539         1       1  female  22.00      0      2   49.5000        C    B
627         1       1  female  21.00      0      0   77.9583        S    D
742         1       1  female  21.00      2      2  262.3750        C    B
136         1       1  female  19.00      0      2   26.2833        S    D
291         1       1  female  19.00      1      0   91.0792        C    B
887         1       1  female  19.00      0      0   30.0000        S    B
700         1       1  female  18.00      1      0  227.5250        C    C
585         1       1  female  18.00      0      2   79.6500        S    E
311         1       1  female  18.00      2      2  262.3750        C    B
781         1       1  female  17.00      1      0   57.0000        S    B
307         1       1  female  17.00      1      0  108.9000        C    C
853         1       1  female  16.00      0      1   39.4000        S    D
329         1       1  female  16.00      0      1   57.9792        C    B
504         1       1  female  16.00      0      0   86.5000        S    B
689         1       1  female  15.00      0      1  211.3375        S    B
435         1       1  female  14.00      1      2  120.0000        S    B
297         0       1  female   2.00      1      2  151.5500        S    C
31          1       1  female    NaN      1      0  146.5208        C    B
166         1       1  female    NaN      0      1   55.0000        S    E
256         1       1  female    NaN      0      0   79.2000        C  NaN
306         1       1  female    NaN      0      0  110.8833        C  NaN
334         1       1  female    NaN      1      0  133.6500        S  NaN
375         1       1  female    NaN      1      0   82.1708        C  NaN
457         1       1  female    NaN      1      0   51.8625        S    D
669         1       1  female    NaN      1      0   52.0000        S    C
849         1       1  female    NaN      1      0   89.1042        C    C
630         1       1    male  80.00      0      0   30.0000        S    A
493         0       1    male  71.00      0      0   49.5042        C  NaN
96          0       1    male  71.00      0      0   34.6542        C    A
745         0       1    male  70.00      1      1   71.0000        S    B
54          0       1    male  65.00      0      1   61.9792        C    B
456         0       1    male  65.00      0      0   26.5500        S    E
438         0       1    male  64.00      1      4  263.0000        S    C
545         0       1    male  64.00      0      0   26.0000        S  NaN
252         0       1    male  62.00      0      0   26.5500        S    C
555         0       1    male  62.00      0      0   26.5500        S  NaN
625         0       1    male  61.00      0      0   32.3208        S    D
170         0       1    male  61.00      0      0   33.5000        S    B
694         0       1    male  60.00      0      0   26.5500        S  NaN
587         1       1    male  60.00      1      1   79.2000        C    B
487         0       1    male  58.00      0      0   29.7000        C    B
659         0       1    male  58.00      0      2  113.2750        C    D
174         0       1    male  56.00      0      0   30.6958        C    A
647         1       1    male  56.00      0      0   35.5000        C    A
467         0       1    male  56.00      0      0   26.5500        S  NaN
492         0       1    male  55.00      0      0   30.5000        S    C
124         0       1    male  54.00      0      1   77.2875        S    D
6           0       1    male  54.00      0      0   51.8625        S    E
449         1       1    male  52.00      0      0   30.5000        S    C
262         0       1    male  52.00      1      1   79.6500        S    E
155         0       1    male  51.00      0      1   61.3792        C  NaN
857         1       1    male  51.00      0      0   26.5500        S    E
660         1       1    male  50.00      2      0  133.6500        S  NaN
434         0       1    male  50.00      1      0   55.9000        S    E
544         0       1    male  50.00      1      0  106.4250        C    C
698         0       1    male  49.00      1      1  110.8833        C    C
453         1       1    male  49.00      1      0   89.1042        C    C
599         1       1    male  49.00      1      0   56.9292        C    A
645         1       1    male  48.00      1      0   76.7292        C    D
460         1       1    male  48.00      0      0   26.5500        S    E
712         1       1    male  48.00      1      0   52.0000        S    C
662         0       1    male  47.00      0      0   25.5875        S    E
462         0       1    male  47.00      0      0   38.5000        S    E
110         0       1    male  47.00      0      0   52.0000        S    C
515         0       1    male  47.00      0      0   34.0208        S    D
789         0       1    male  46.00      0      0   79.2000        C    B
92          0       1    male  46.00      1      0   61.1750        S    E
331         0       1    male  45.50      0      0   28.5000        S    C
536         0       1    male  45.00      0      0   26.5500        S    B
187         1       1    male  45.00      0      0   26.5500        S  NaN
339         0       1    male  45.00      0      0   35.5000        S  NaN
62          0       1    male  45.00      1      0   83.4750        S    C
245         0       1    male  44.00      2      0   90.0000        Q    C
35          0       1    male  42.00      1      0   52.0000        S  NaN
621         1       1    male  42.00      1      0   52.5542        S    D
707         1       1    male  42.00      0      0   26.2875        S    E
30          0       1    male  40.00      0      0   27.7208        C  NaN
209         1       1    male  40.00      0      0   31.0000        C    A
263         0       1    male  40.00      0      0    0.0000        S    B
806         0       1    male  39.00      0      0    0.0000        S    A
332         0       1    male  38.00      0      1  153.4625        S    C
224         1       1    male  38.00      1      0   90.0000        S    C
822         0       1    male  38.00      0      0    0.0000        S  NaN
137         0       1    male  37.00      1      0   53.1000        S    C
273         0       1    male  37.00      0      1   29.7000        C    C
248         1       1    male  37.00      1      1   52.5542        S    D
679         1       1    male  36.00      0      1  512.3292        C    B
390         1       1    male  36.00      1      2  120.0000        S    B
512         1       1    male  36.00      0      0   26.2875        S    E
572         1       1    male  36.00      0      0   26.3875        S    E
583         0       1    male  36.00      0      0   40.1250        C    A
741         0       1    male  36.00      1      0   78.8500        S    C
737         1       1    male  35.00      0      0  512.3292        C    B
701         1       1    male  35.00      0      0   26.2875        S    E
604         1       1    male  35.00      0      0   26.5500        C  NaN
447         1       1    male  34.00      0      0   26.5500        S  NaN
872         0       1    male  33.00      0      0    5.0000        S    B
632         1       1    male  32.00      0      0   30.5000        C    B
690         1       1    male  31.00      1      0   57.0000        S    B
671         0       1    male  31.00      1      0   52.0000        S    B
867         0       1    male  31.00      0      0   50.4958        S    A
452         0       1    male  30.00      0      0   27.7500        C    C
782         0       1    male  29.00      0      0   30.0000        S    D
336         0       1    male  29.00      1      0   66.6000        S    C
23          1       1    male  28.00      0      0   35.5000        S    A
34          0       1    male  28.00      1      0   82.1708        C  NaN
83          0       1    male  28.00      0      0   47.1000        S  NaN
430         1       1    male  28.00      0      0   26.5500        S    C
681         1       1    male  27.00      0      0   76.7292        C    D
607         1       1    male  27.00      0      0   30.5000        S  NaN
724         1       1    male  27.00      1      0   53.1000        S    E
377         0       1    male  27.00      0      2  211.5000        C    C
889         1       1    male  26.00      0      0   30.0000        C    C
484         1       1    male  25.00      1      0   91.0792        C    B
370         1       1    male  25.00      1      0   55.4417        C    E
118         0       1    male  24.00      0      1  247.5208        C    B
139         0       1    male  24.00      0      0   79.2000        C    B
97          1       1    male  23.00      0      1   63.3583        C    D
373         0       1    male  22.00      0      0  135.6333        C  NaN
102         0       1    male  21.00      0      1   77.2875        S    D
748         0       1    male  19.00      1      0   53.1000        S    D
27          0       1    male  19.00      3      2  263.0000        S    C
505         0       1    male  18.00      1      0  108.9000        C    C
550         1       1    male  17.00      0      2  110.8833        C    C
802         1       1    male  11.00      1      2  120.0000        S    B
445         1       1    male   4.00      0      2   81.8583        S    A
305         1       1    male   0.92      1      2  151.5500        S    C
55          1       1    male    NaN      0      0   35.5000        S    C
64          0       1    male    NaN      0      0   27.7208        C  NaN
168         0       1    male    NaN      0      0   25.9250        S  NaN
185         0       1    male    NaN      0      0   50.0000        S    A
270         0       1    male    NaN      0      0   31.0000        S  NaN
284         0       1    male    NaN      0      0   26.0000        S    A
295         0       1    male    NaN      0      0   27.7208        C  NaN
298         1       1    male    NaN      0      0   30.5000        S    C
351         0       1    male    NaN      0      0   35.0000        S    C
475         0       1    male    NaN      0      0   52.0000        S    A
507         1       1    male    NaN      0      0   26.5500        S  NaN
527         0       1    male    NaN      0      0  221.7792        S    C
557         0       1    male    NaN      0      0  227.5250        C  NaN
602         0       1    male    NaN      0      0   42.4000        S  NaN
633         0       1    male    NaN      0      0    0.0000        S  NaN
711         0       1    male    NaN      0      0   26.5500        S    C
740         1       1    male    NaN      0      0   30.0000        S    D
766         0       1    male    NaN      0      0   39.6000        C  NaN
793         0       1    male    NaN      0      0   30.6958        C  NaN
815         0       1    male    NaN      0      0    0.0000        S    B
839         1       1    male    NaN      0      0   29.7000        C    C
772         0       2  female  57.00      0      0   10.5000        S    E
15          1       2  female  55.00      0      0   16.0000        S  NaN
774         1       2  female  54.00      1      3   23.0000        S  NaN
259         1       2  female  50.00      0      1   26.0000        S  NaN
458         1       2  female  50.00      0      0   10.5000        S  NaN
526         1       2  female  50.00      0      0   10.5000        S  NaN
754         1       2  female  48.00      1      2   65.0000        S  NaN
706         1       2  female  45.00      0      0   13.5000        S  NaN
440         1       2  female  45.00      1      1   26.2500        S  NaN
854         0       2  female  44.00      1      0   26.0000        S  NaN
432         1       2  female  42.00      1      0   26.0000        S  NaN
865         1       2  female  42.00      0      0   13.0000        S  NaN
272         1       2  female  41.00      0      1   19.5000        S  NaN
161         1       2  female  40.00      0      0   15.7500        S  NaN
346         1       2  female  40.00      0      0   13.0000        S  NaN
670         1       2  female  40.00      1      1   39.0000        S  NaN
357         0       2  female  38.00      0      0   13.0000        S  NaN
387         1       2  female  36.00      0      0   13.0000        S  NaN
327         1       2  female  36.00      0      0   13.0000        S    D
518         1       2  female  36.00      1      0   26.0000        S  NaN
211         1       2  female  35.00      0      0   21.0000        S  NaN
516         1       2  female  34.00      0      0   10.5000        S    F
576         1       2  female  34.00      0      0   13.0000        S  NaN
416         1       2  female  34.00      1      1   32.5000        S  NaN
98          1       2  female  34.00      0      1   23.0000        S  NaN
472         1       2  female  33.00      1      2   27.7500        S  NaN
506         1       2  female  33.00      0      2   26.0000        S  NaN
123         1       2  female  32.50      0      0   13.0000        S    E
190         1       2  female  32.00      0      0   13.0000        S  NaN
801         1       2  female  31.00      1      1   26.2500        S  NaN
726         1       2  female  30.00      3      0   21.0000        S  NaN
747         1       2  female  30.00      0      0   13.0000        S  NaN
322         1       2  female  30.00      0      0   12.3500        Q  NaN
53          1       2  female  29.00      1      0   26.0000        S  NaN
66          1       2  female  29.00      0      0   10.5000        S    F
133         1       2  female  29.00      1      0   26.0000        S  NaN
874         1       2  female  28.00      1      0   24.0000        C  NaN
426         1       2  female  28.00      1      0   26.0000        S  NaN
399         1       2  female  28.00      0      0   12.6500        S  NaN
635         1       2  female  28.00      0      0   13.0000        S  NaN
443         1       2  female  28.00      0      0   13.0000        S  NaN
866         1       2  female  27.00      1      0   13.8583        C  NaN
41          0       2  female  27.00      1      0   21.0000        S  NaN
717         1       2  female  27.00      0      0   10.5000        S    E
312         0       2  female  26.00      1      1   26.0000        S  NaN
880         1       2  female  25.00      0      1   26.0000        S  NaN
580         1       2  female  25.00      1      1   30.0000        S  NaN
600         1       2  female  24.00      2      1   27.0000        S  NaN
437         1       2  female  24.00      2      3   18.7500        S  NaN

In [304]:
titanic.sort_index(ascending = True, inplace = True)

In [305]:
titanic

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
0           0       3    male  22.00      1      0    7.2500        S  NaN
1           1       1  female  38.00      1      0   71.2833        C    C
2           1       3  female  26.00      0      0    7.9250        S  NaN
3           1       1  female  35.00      1      0   53.1000        S    C
4           0       3    male  35.00      0      0    8.0500        S  NaN
5           0       3    male    NaN      0      0    8.4583        Q  NaN
6           0       1    male  54.00      0      0   51.8625        S    E
7           0       3    male   2.00      3      1   21.0750        S  NaN
8           1       3  female  27.00      0      2   11.1333        S  NaN
9           1       2  female  14.00      1      0   30.0708        C  NaN
10          1       3  female   4.00      1      1   16.7000        S    G
11          1       1  female  58.00      0      0   26.5500        S    C
12          0       3    male  20.00      0      0    8.0500        S  NaN
13          0       3    male  39.00      1      5   31.2750        S  NaN
14          0       3  female  14.00      0      0    7.8542        S  NaN
15          1       2  female  55.00      0      0   16.0000        S  NaN
16          0       3    male   2.00      4      1   29.1250        Q  NaN
17          1       2    male    NaN      0      0   13.0000        S  NaN
18          0       3  female  31.00      1      0   18.0000        S  NaN
19          1       3  female    NaN      0      0    7.2250        C  NaN
20          0       2    male  35.00      0      0   26.0000        S  NaN
21          1       2    male  34.00      0      0   13.0000        S    D
22          1       3  female  15.00      0      0    8.0292        Q  NaN
23          1       1    male  28.00      0      0   35.5000        S    A
24          0       3  female   8.00      3      1   21.0750        S  NaN
25          1       3  female  38.00      1      5   31.3875        S  NaN
26          0       3    male    NaN      0      0    7.2250        C  NaN
27          0       1    male  19.00      3      2  263.0000        S    C
28          1       3  female    NaN      0      0    7.8792        Q  NaN
29          0       3    male    NaN      0      0    7.8958        S  NaN
30          0       1    male  40.00      0      0   27.7208        C  NaN
31          1       1  female    NaN      1      0  146.5208        C    B
32          1       3  female    NaN      0      0    7.7500        Q  NaN
33          0       2    male  66.00      0      0   10.5000        S  NaN
34          0       1    male  28.00      1      0   82.1708        C  NaN
35          0       1    male  42.00      1      0   52.0000        S  NaN
36          1       3    male    NaN      0      0    7.2292        C  NaN
37          0       3    male  21.00      0      0    8.0500        S  NaN
38          0       3  female  18.00      2      0   18.0000        S  NaN
39          1       3  female  14.00      1      0   11.2417        C  NaN
40          0       3  female  40.00      1      0    9.4750        S  NaN
41          0       2  female  27.00      1      0   21.0000        S  NaN
42          0       3    male    NaN      0      0    7.8958        C  NaN
43          1       2  female   3.00      1      2   41.5792        C  NaN
44          1       3  female  19.00      0      0    7.8792        Q  NaN
45          0       3    male    NaN      0      0    8.0500        S  NaN
46          0       3    male    NaN      1      0   15.5000        Q  NaN
47          1       3  female    NaN      0      0    7.7500        Q  NaN
48          0       3    male    NaN      2      0   21.6792        C  NaN
49          0       3  female  18.00      1      0   17.8000        S  NaN
50          0       3    male   7.00      4      1   39.6875        S  NaN
51          0       3    male  21.00      0      0    7.8000        S  NaN
52          1       1  female  49.00      1      0   76.7292        C    D
53          1       2  female  29.00      1      0   26.0000        S  NaN
54          0       1    male  65.00      0      1   61.9792        C    B
55          1       1    male    NaN      0      0   35.5000        S    C
56          1       2  female  21.00      0      0   10.5000        S  NaN
57          0       3    male  28.50      0      0    7.2292        C  NaN
58          1       2  female   5.00      1      2   27.7500        S  NaN
59          0       3    male  11.00      5      2   46.9000        S  NaN
60          0       3    male  22.00      0      0    7.2292        C  NaN
61          1       1  female  38.00      0      0   80.0000      NaN    B
62          0       1    male  45.00      1      0   83.4750        S    C
63          0       3    male   4.00      3      2   27.9000        S  NaN
64          0       1    male    NaN      0      0   27.7208        C  NaN
65          1       3    male    NaN      1      1   15.2458        C  NaN
66          1       2  female  29.00      0      0   10.5000        S    F
67          0       3    male  19.00      0      0    8.1583        S  NaN
68          1       3  female  17.00      4      2    7.9250        S  NaN
69          0       3    male  26.00      2      0    8.6625        S  NaN
70          0       2    male  32.00      0      0   10.5000        S  NaN
71          0       3  female  16.00      5      2   46.9000        S  NaN
72          0       2    male  21.00      0      0   73.5000        S  NaN
73          0       3    male  26.00      1      0   14.4542        C  NaN
74          1       3    male  32.00      0      0   56.4958        S  NaN
75          0       3    male  25.00      0      0    7.6500        S    F
76          0       3    male    NaN      0      0    7.8958        S  NaN
77          0       3    male    NaN      0      0    8.0500        S  NaN
78          1       2    male   0.83      0      2   29.0000        S  NaN
79          1       3  female  30.00      0      0   12.4750        S  NaN
80          0       3    male  22.00      0      0    9.0000        S  NaN
81          1       3    male  29.00      0      0    9.5000        S  NaN
82          1       3  female    NaN      0      0    7.7875        Q  NaN
83          0       1    male  28.00      0      0   47.1000        S  NaN
84          1       2  female  17.00      0      0   10.5000        S  NaN
85          1       3  female  33.00      3      0   15.8500        S  NaN
86          0       3    male  16.00      1      3   34.3750        S  NaN
87          0       3    male    NaN      0      0    8.0500        S  NaN
88          1       1  female  23.00      3      2  263.0000        S    C
89          0       3    male  24.00      0      0    8.0500        S  NaN
90          0       3    male  29.00      0      0    8.0500        S  NaN
91          0       3    male  20.00      0      0    7.8542        S  NaN
92          0       1    male  46.00      1      0   61.1750        S    E
93          0       3    male  26.00      1      2   20.5750        S  NaN
94          0       3    male  59.00      0      0    7.2500        S  NaN
95          0       3    male    NaN      0      0    8.0500        S  NaN
96          0       1    male  71.00      0      0   34.6542        C    A
97          1       1    male  23.00      0      1   63.3583        C    D
98          1       2  female  34.00      0      1   23.0000        S  NaN
99          0       2    male  34.00      1      0   26.0000        S  NaN
100         0       3  female  28.00      0      0    7.8958        S  NaN
101         0       3    male    NaN      0      0    7.8958        S  NaN
102         0       1    male  21.00      0      1   77.2875        S    D
103         0       3    male  33.00      0      0    8.6542        S  NaN
104         0       3    male  37.00      2      0    7.9250        S  NaN
105         0       3    male  28.00      0      0    7.8958        S  NaN
106         1       3  female  21.00      0      0    7.6500        S  NaN
107         1       3    male    NaN      0      0    7.7750        S  NaN
108         0       3    male  38.00      0      0    7.8958        S  NaN
109         1       3  female    NaN      1      0   24.1500        Q  NaN
110         0       1    male  47.00      0      0   52.0000        S    C
111         0       3  female  14.50      1      0   14.4542        C  NaN
112         0       3    male  22.00      0      0    8.0500        S  NaN
113         0       3  female  20.00      1      0    9.8250        S  NaN
114         0       3  female  17.00      0      0   14.4583        C  NaN
115         0       3    male  21.00      0      0    7.9250        S  NaN
116         0       3    male  70.50      0      0    7.7500        Q  NaN
117         0       2    male  29.00      1      0   21.0000        S  NaN
118         0       1    male  24.00      0      1  247.5208        C    B
119         0       3  female   2.00      4      2   31.2750        S  NaN
120         0       2    male  21.00      2      0   73.5000        S  NaN
121         0       3    male    NaN      0      0    8.0500        S  NaN
122         0       2    male  32.50      1      0   30.0708        C  NaN
123         1       2  female  32.50      0      0   13.0000        S    E
124         0       1    male  54.00      0      1   77.2875        S    D
125         1       3    male  12.00      1      0   11.2417        C  NaN
126         0       3    male    NaN      0      0    7.7500        Q  NaN
127         1       3    male  24.00      0      0    7.1417        S  NaN
128         1       3  female    NaN      1      1   22.3583        C    F
129         0       3    male  45.00      0      0    6.9750        S  NaN
130         0       3    male  33.00      0      0    7.8958        C  NaN
131         0       3    male  20.00      0      0    7.0500        S  NaN
132         0       3  female  47.00      1      0   14.5000        S  NaN
133         1       2  female  29.00      1      0   26.0000        S  NaN
134         0       2    male  25.00      0      0   13.0000        S  NaN
135         0       2    male  23.00      0      0   15.0458        C  NaN
136         1       1  female  19.00      0      2   26.2833        S    D
137         0       1    male  37.00      1      0   53.1000        S    C
138         0       3    male  16.00      0      0    9.2167        S  NaN
139         0       1    male  24.00      0      0   79.2000        C    B
140         0       3  female    NaN      0      2   15.2458        C  NaN
141         1       3  female  22.00      0      0    7.7500        S  NaN
142         1       3  female  24.00      1      0   15.8500        S  NaN
143         0       3    male  19.00      0      0    6.7500        Q  NaN
144         0       2    male  18.00      0      0   11.5000        S  NaN
145         0       2    male  19.00      1      1   36.7500        S  NaN
146         1       3    male  27.00      0      0    7.7958        S  NaN
147         0       3  female   9.00      2      2   34.3750        S  NaN
148         0       2    male  36.50      0      2   26.0000        S    F
149         0       2    male  42.00      0      0   13.0000        S  NaN
150         0       2    male  51.00      0      0   12.5250        S  NaN
151         1       1  female  22.00      1      0   66.6000        S    C
152         0       3    male  55.50      0      0    8.0500        S  NaN
153         0       3    male  40.50      0      2   14.5000        S  NaN
154         0       3    male    NaN      0      0    7.3125        S  NaN
155         0       1    male  51.00      0      1   61.3792        C  NaN
156         1       3  female  16.00      0      0    7.7333        Q  NaN
157         0       3    male  30.00      0      0    8.0500        S  NaN
158         0       3    male    NaN      0      0    8.6625        S  NaN
159         0       3    male    NaN      8      2   69.5500        S  NaN
160         0       3    male  44.00      0      1   16.1000        S  NaN
161         1       2  female  40.00      0      0   15.7500        S  NaN
162         0       3    male  26.00      0      0    7.7750        S  NaN
163         0       3    male  17.00      0      0    8.6625        S  NaN
164         0       3    male   1.00      4      1   39.6875        S  NaN
165         1       3    male   9.00      0      2   20.5250        S  NaN
166         1       1  female    NaN      0      1   55.0000        S    E
167         0       3  female  45.00      1      4   27.9000        S  NaN
168         0       1    male    NaN      0      0   25.9250        S  NaN
169         0       3    male  28.00      0      0   56.4958        S  NaN
170         0       1    male  61.00      0      0   33.5000        S    B
171         0       3    male   4.00      4      1   29.1250        Q  NaN
172         1       3  female   1.00      1      1   11.1333        S  NaN
173         0       3    male  21.00      0      0    7.9250        S  NaN
174         0       1    male  56.00      0      0   30.6958        C    A
175         0       3    male  18.00      1      1    7.8542        S  NaN
176         0       3    male    NaN      3      1   25.4667        S  NaN
177         0       1  female  50.00      0      0   28.7125        C    C
178         0       2    male  30.00      0      0   13.0000        S  NaN
179         0       3    male  36.00      0      0    0.0000        S  NaN
180         0       3  female    NaN      8      2   69.5500        S  NaN
181         0       2    male    NaN      0      0   15.0500        C  NaN
182         0       3    male   9.00      4      2   31.3875        S  NaN
183         1       2    male   1.00      2      1   39.0000        S    F
184         1       3  female   4.00      0      2   22.0250        S  NaN
185         0       1    male    NaN      0      0   50.0000        S    A
186         1       3  female    NaN      1      0   15.5000        Q  NaN
187         1       1    male  45.00      0      0   26.5500        S  NaN
188         0       3    male  40.00      1      1   15.5000        Q  NaN
189         0       3    male  36.00      0      0    7.8958        S  NaN
190         1       2  female  32.00      0      0   13.0000        S  NaN
191         0       2    male  19.00      0      0   13.0000        S  NaN
192         1       3  female  19.00      1      0    7.8542        S  NaN
193         1       2    male   3.00      1      1   26.0000        S    F
194         1       1  female  44.00      0      0   27.7208        C    B
195         1       1  female  58.00      0      0  146.5208        C    B
196         0       3    male    NaN      0      0    7.7500        Q  NaN
197         0       3    male  42.00      0      1    8.4042        S  NaN
198         1       3  female    NaN      0      0    7.7500        Q  NaN
199         0       2  female  24.00      0      0   13.0000        S  NaN
200         0       3    male  28.00      0      0    9.5000        S  NaN
201         0       3    male    NaN      8      2   69.5500        S  NaN
202         0       3    male  34.00      0      0    6.4958        S  NaN
203         0       3    male  45.50      0      0    7.2250        C  NaN
204         1       3    male  18.00      0      0    8.0500        S  NaN
205         0       3  female   2.00      0      1   10.4625        S    G
206         0       3    male  32.00      1      0   15.8500        S  NaN
207         1       3    male  26.00      0      0   18.7875        C  NaN
208         1       3  female  16.00      0      0    7.7500        Q  NaN
209         1       1    male  40.00      0      0   31.0000        C    A
210         0       3    male  24.00      0      0    7.0500        S  NaN
211         1       2  female  35.00      0      0   21.0000        S  NaN
212         0       3    male  22.00      0      0    7.2500        S  NaN
213         0       2    male  30.00      0      0   13.0000        S  NaN
214         0       3    male    NaN      1      0    7.7500        Q  NaN
215         1       1  female  31.00      1      0  113.2750        C    D
216         1       3  female  27.00      0      0    7.9250        S  NaN
217         0       2    male  42.00      1      0   27.0000        S  NaN
218         1       1  female  32.00      0      0   76.2917        C    D
219         0       2    male  30.00      0      0   10.5000        S  NaN
220         1       3    male  16.00      0      0    8.0500        S  NaN
221         0       2    male  27.00      0      0   13.0000        S  NaN
222         0       3    male  51.00      0      0    8.0500        S  NaN
223         0       3    male    NaN      0      0    7.8958        S  NaN
224         1       1    male  38.00      1      0   90.0000        S    C
225         0       3    male  22.00      0      0    9.3500        S  NaN
226         1       2    male  19.00      0      0   10.5000        S  NaN
227         0       3    male  20.50      0      0    7.2500        S  NaN
228         0       2    male  18.00      0      0   13.0000        S  NaN
229         0       3  female    NaN      3      1   25.4667        S  NaN
230         1       1  female  35.00      1      0   83.4750        S    C
231         0       3    male  29.00      0      0    7.7750        S  NaN
232         0       2    male  59.00      0      0   13.5000        S  NaN
233         1       3  female   5.00      4      2   31.3875        S  NaN
234         0       2    male  24.00      0      0   10.5000        S  NaN
235         0       3  female    NaN      0      0    7.5500        S  NaN
236         0       2    male  44.00      1      0   26.0000        S  NaN
237         1       2  female   8.00      0      2   26.2500        S  NaN
238         0       2    male  19.00      0      0   10.5000        S  NaN
239         0       2    male  33.00      0      0   12.2750        S  NaN
240         0       3  female    NaN      1      0   14.4542        C  NaN
241         1       3  female    NaN      1      0   15.5000        Q  NaN
242         0       2    male  29.00      0      0   10.5000        S  NaN
243         0       3    male  22.00      0      0    7.1250        S  NaN
244         0       3    male  30.00      0      0    7.2250        C  NaN
245         0       1    male  44.00      2      0   90.0000        Q    C
246         0       3  female  25.00      0      0    7.7750        S  NaN
247         1       2  female  24.00      0      2   14.5000        S  NaN
248         1       1    male  37.00      1      1   52.5542        S    D
249         0       2    male  54.00      1      0   26.0000        S  NaN
250         0       3    male    NaN      0      0    7.2500        S  NaN
251         0       3  female  29.00      1      1   10.4625        S    G
252         0       1    male  62.00      0      0   26.5500        S    C
253         0       3    male  30.00      1      0   16.1000        S  NaN
254         0       3  female  41.00      0      2   20.2125        S  NaN
255         1       3  female  29.00      0      2   15.2458        C  NaN
256         1       1  female    NaN      0      0   79.2000        C  NaN
257         1       1  female  30.00      0      0   86.5000        S    B
258         1       1  female  35.00      0      0  512.3292        C  NaN
259         1       2  female  50.00      0      1   26.0000        S  NaN
260         0       3    male    NaN      0      0    7.7500        Q  NaN
261         1       3    male   3.00      4      2   31.3875        S  NaN
262         0       1    male  52.00      1      1   79.6500        S    E
263         0       1    male  40.00      0      0    0.0000        S    B
264         0       3  female    NaN      0      0    7.7500        Q  NaN

In [306]:
titanic.sort_values(by = "age").reset_index(drop = True)

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
0           1       3    male   0.42      0      1    8.5167        C  NaN
1           1       2    male   0.67      1      1   14.5000        S  NaN
2           1       3  female   0.75      2      1   19.2583        C  NaN
3           1       3  female   0.75      2      1   19.2583        C  NaN
4           1       2    male   0.83      0      2   29.0000        S  NaN
5           1       2    male   0.83      1      1   18.7500        S  NaN
6           1       1    male   0.92      1      2  151.5500        S    C
7           1       2    male   1.00      0      2   37.0042        C  NaN
8           1       3  female   1.00      0      2   15.7417        C  NaN
9           0       3    male   1.00      4      1   39.6875        S  NaN
10          1       2    male   1.00      2      1   39.0000        S    F
11          0       3    male   1.00      5      2   46.9000        S  NaN
12          1       3  female   1.00      1      1   11.1333        S  NaN
13          1       3    male   1.00      1      2   20.5750        S  NaN
14          0       3  female   2.00      3      2   27.9000        S  NaN
15          0       3    male   2.00      3      1   21.0750        S  NaN
16          1       2  female   2.00      1      1   26.0000        S  NaN
17          0       1  female   2.00      1      2  151.5500        S    C
18          0       3    male   2.00      4      1   39.6875        S  NaN
19          0       3  female   2.00      0      1   10.4625        S    G
20          0       3  female   2.00      4      2   31.2750        S  NaN
21          1       2    male   2.00      1      1   26.0000        S    F
22          1       3  female   2.00      0      1   12.2875        S  NaN
23          0       3    male   2.00      4      1   29.1250        Q  NaN
24          1       3    male   3.00      1      1   15.9000        S  NaN
25          1       2    male   3.00      1      1   18.7500        S  NaN
26          0       3  female   3.00      3      1   21.0750        S  NaN
27          1       3    male   3.00      4      2   31.3875        S  NaN
28          1       2  female   3.00      1      2   41.5792        C  NaN
29          1       2    male   3.00      1      1   26.0000        S    F
30          0       3    male   4.00      4      2   31.2750        S  NaN
31          0       3    male   4.00      4      1   29.1250        Q  NaN
32          0       3    male   4.00      3      2   27.9000        S  NaN
33          1       2  female   4.00      1      1   23.0000        S  NaN
34          1       3  female   4.00      0      1   13.4167        C  NaN
35          1       3    male   4.00      1      1   11.1333        S  NaN
36          1       2  female   4.00      2      1   39.0000        S    F
37          1       3  female   4.00      1      1   16.7000        S    G
38          1       1    male   4.00      0      2   81.8583        S    A
39          1       3  female   4.00      0      2   22.0250        S  NaN
40          1       3  female   5.00      4      2   31.3875        S  NaN
41          1       3  female   5.00      0      0   12.4750        S  NaN
42          1       3  female   5.00      2      1   19.2583        C  NaN
43          1       2  female   5.00      1      2   27.7500        S  NaN
44          1       2  female   6.00      0      1   33.0000        S  NaN
45          0       3  female   6.00      4      2   31.2750        S  NaN
46          1       3    male   6.00      0      1   12.4750        S    E
47          0       3    male   7.00      4      1   29.1250        Q  NaN
48          1       2  female   7.00      0      2   26.2500        S  NaN
49          0       3    male   7.00      4      1   39.6875        S  NaN
50          0       3  female   8.00      3      1   21.0750        S  NaN
51          1       2    male   8.00      1      1   36.7500        S  NaN
52          1       2  female   8.00      0      2   26.2500        S  NaN
53          0       3    male   8.00      4      1   29.1250        Q  NaN
54          0       3  female   9.00      2      2   34.3750        S  NaN
55          0       3  female   9.00      4      2   31.2750        S  NaN
56          0       3  female   9.00      1      1   15.2458        C  NaN
57          0       3    male   9.00      4      2   31.3875        S  NaN
58          0       3    male   9.00      5      2   46.9000        S  NaN
59          0       3  female   9.00      3      2   27.9000        S  NaN
60          1       3    male   9.00      1      1   15.9000        S  NaN
61          1       3    male   9.00      0      2   20.5250        S  NaN
62          0       3  female  10.00      0      2   24.1500        S  NaN
63          0       3    male  10.00      3      2   27.9000        S  NaN
64          0       3  female  11.00      4      2   31.2750        S  NaN
65          0       3    male  11.00      0      0   18.7875        C  NaN
66          0       3    male  11.00      5      2   46.9000        S  NaN
67          1       1    male  11.00      1      2  120.0000        S    B
68          1       3    male  12.00      1      0   11.2417        C  NaN
69          1       2  female  13.00      0      1   19.5000        S  NaN
70          1       3  female  13.00      0      0    7.2292        C  NaN
71          1       1  female  14.00      1      2  120.0000        S    B
72          0       3    male  14.00      4      1   39.6875        S  NaN
73          1       2  female  14.00      1      0   30.0708        C  NaN
74          1       3  female  14.00      1      0   11.2417        C  NaN
75          0       3    male  14.00      5      2   46.9000        S  NaN
76          0       3  female  14.00      0      0    7.8542        S  NaN
77          0       3  female  14.50      1      0   14.4542        C  NaN
78          0       3    male  15.00      1      1    7.2292        C  NaN
79          1       3  female  15.00      0      0    7.2250        C  NaN
80          1       1  female  15.00      0      1  211.3375        S    B
81          1       3  female  15.00      0      0    8.0292        Q  NaN
82          1       3  female  15.00      1      0   14.4542        C  NaN
83          1       3    male  16.00      0      0    8.0500        S  NaN
84          0       2    male  16.00      0      0   26.0000        S  NaN
85          0       3    male  16.00      2      0   18.0000        S  NaN
86          0       3    male  16.00      0      0    9.2167        S  NaN
87          0       3    male  16.00      4      1   39.6875        S  NaN
88          0       3    male  16.00      0      0    9.5000        S  NaN
89          0       3    male  16.00      1      3   34.3750        S  NaN
90          0       3    male  16.00      0      0    8.0500        S  NaN
91          0       3  female  16.00      5      2   46.9000        S  NaN
92          1       1  female  16.00      0      1   57.9792        C    B
93          0       2    male  16.00      0      0   10.5000        S  NaN
94          1       1  female  16.00      0      1   39.4000        S    D
95          0       3    male  16.00      0      0    7.7750        S  NaN
96          1       1  female  16.00      0      0   86.5000        S    B
97          0       3    male  16.00      1      1   20.2500        S  NaN
98          1       3  female  16.00      0      0    7.7333        Q  NaN
99          1       3  female  16.00      0      0    7.7500        Q  NaN
100         0       3    male  17.00      0      0    8.6625        S  NaN
101         0       3    male  17.00      1      0    7.0542        S  NaN
102         0       3    male  17.00      0      0    7.1250        S  NaN
103         1       1    male  17.00      0      2  110.8833        C    C
104         1       2  female  17.00      0      0   12.0000        C  NaN
105         0       3    male  17.00      0      0    8.6625        S  NaN
106         0       3    male  17.00      1      1    7.2292        C  NaN
107         0       3    male  17.00      0      0    8.6625        S  NaN
108         1       3  female  17.00      4      2    7.9250        S  NaN
109         1       1  female  17.00      1      0   57.0000        S    B
110         1       1  female  17.00      1      0  108.9000        C    C
111         1       2  female  17.00      0      0   10.5000        S  NaN
112         0       3  female  17.00      0      0   14.4583        C  NaN
113         0       3  female  18.00      0      0    6.7500        Q  NaN
114         0       3    male  18.00      1      1   20.2125        S  NaN
115         1       2  female  18.00      0      2   13.0000        S  NaN
116         0       3    male  18.00      0      0    7.7958        S  NaN
117         0       2    male  18.00      0      0   73.5000        S  NaN
118         0       3    male  18.00      1      0    6.4958        S  NaN
119         0       2    male  18.00      0      0   13.0000        S  NaN
120         0       1    male  18.00      1      0  108.9000        C    C
121         1       3    male  18.00      0      0    8.0500        S  NaN
122         1       3  female  18.00      0      0    9.8417        S  NaN
123         0       3    male  18.00      1      1    7.8542        S  NaN
124         0       3    male  18.00      0      0    7.7750        S  NaN
125         1       1  female  18.00      2      2  262.3750        C    B
126         1       1  female  18.00      0      2   79.6500        S    E
127         1       2  female  18.00      0      1   23.0000        S  NaN
128         0       3  female  18.00      0      1   14.4542        C  NaN
129         1       1  female  18.00      1      0  227.5250        C    C
130         0       2    male  18.00      0      0   11.5000        S  NaN
131         1       3  female  18.00      0      0    7.4958        S  NaN
132         1       3  female  18.00      0      1    9.3500        S  NaN
133         0       3  female  18.00      2      0   18.0000        S  NaN
134         0       3  female  18.00      0      0    7.7750        S  NaN
135         0       3    male  18.00      0      0    8.3000        S  NaN
136         0       2    male  18.00      0      0   11.5000        S  NaN
137         0       3    male  18.00      0      0    7.7500        S  NaN
138         0       3  female  18.00      1      0   17.8000        S  NaN
139         1       2    male  19.00      0      0   10.5000        S  NaN
140         1       1  female  19.00      0      2   26.2833        S    D
141         0       1    male  19.00      3      2  263.0000        S    C
142         0       3    male  19.00      0      0    7.6500        S    F
143         1       1  female  19.00      1      0   91.0792        C    B
144         0       3    male  19.00      0      0    0.0000        S  NaN
145         1       2  female  19.00      0      0   26.0000        S  NaN
146         0       3    male  19.00      0      0    8.1583        S  NaN
147         1       2  female  19.00      1      0   26.0000        S  NaN
148         0       3    male  19.00      0      0    7.8958        S  NaN
149         0       3    male  19.00      0      0   14.5000        S  NaN
150         0       3    male  19.00      0      0    7.8958        S  NaN
151         1       3  female  19.00      0      0    7.8792        Q  NaN
152         0       2    male  19.00      0      0   10.5000        S  NaN
153         0       3    male  19.00      0      0   10.1708        S  NaN
154         0       2    male  19.00      0      0   13.0000        S  NaN
155         0       3    male  19.00      0      0    7.8958        S  NaN
156         1       1  female  19.00      0      0   30.0000        S    B
157         1       3    male  19.00      0      0    8.0500        S  NaN
158         0       1    male  19.00      1      0   53.1000        S    D
159         0       3    male  19.00      0      0    6.7500        Q  NaN
160         0       3    male  19.00      0      0    8.0500        S  NaN
161         0       2    male  19.00      1      1   36.7500        S  NaN
162         0       3    male  19.00      0      0    7.7750        S  NaN
163         1       3  female  19.00      1      0    7.8542        S  NaN
164         0       3    male  20.00      0      0    4.0125        C  NaN
165         1       3    male  20.00      0      0    7.2292        C  NaN
166         1       3    male  20.00      1      1   15.7417        C  NaN
167         0       3    male  20.00      0      0    7.9250        S  NaN
168         0       3    male  20.00      0      0    9.8458        S  NaN
169         0       3    male  20.00      0      0    7.0500        S  NaN
170         1       3    male  20.00      1      0    7.9250        S  NaN
171         0       3    male  20.00      0      0    9.5000        S  NaN
172         0       3  female  20.00      0      0    8.6625        S  NaN
173         0       3    male  20.00      0      0    8.0500        S  NaN
174         0       3    male  20.00      0      0    7.8542        S  NaN
175         0       3    male  20.00      0      0    9.2250        S  NaN
176         0       3    male  20.00      0      0    8.6625        S  NaN
177         0       3    male  20.00      0      0    7.8542        S  NaN
178         0       3  female  20.00      1      0    9.8250        S  NaN
179         0       3    male  20.50      0      0    7.2500        S  NaN
180         0       3  female  21.00      1      0    9.8250        S  NaN
181         0       3    male  21.00      0      0    7.7750        S  NaN
182         0       1    male  21.00      0      1   77.2875        S    D
183         1       1  female  21.00      0      0   77.9583        S    D
184         1       3  female  21.00      0      0    7.6500        S  NaN
185         0       3    male  21.00      0      0    8.4333        S  NaN
186         0       2    male  21.00      0      0   73.5000        S  NaN
187         0       3    male  21.00      0      0    7.9250        S  NaN
188         0       2    male  21.00      1      0   11.5000        S  NaN
189         0       3    male  21.00      0      0    7.9250        S  NaN
190         1       1  female  21.00      2      2  262.3750        C    B
191         0       3    male  21.00      0      0    8.0500        S  NaN
192         0       3  female  21.00      0      0    7.7500        Q  NaN
193         0       3    male  21.00      0      0    8.0500        S  NaN
194         0       3  female  21.00      2      2   34.3750        S  NaN
195         0       3    male  21.00      0      0    7.2500        S  NaN
196         0       3    male  21.00      0      0    7.8000        S  NaN
197         0       3    male  21.00      0      0    7.7333        Q  NaN
198         1       2  female  21.00      0      0   10.5000        S  NaN
199         0       3    male  21.00      0      0    7.8542        S  NaN
200         0       3    male  21.00      0      0    8.6625        S  NaN
201         0       3    male  21.00      0      0   16.1000        S  NaN
202         1       3    male  21.00      0      0    7.7958        S  NaN
203         0       2    male  21.00      2      0   73.5000        S  NaN
204         0       3    male  22.00      0      0    8.0500        S  NaN
205         1       3  female  22.00      0      0    7.2500        S  NaN
206         1       3  female  22.00      0      0    7.7750        S  NaN
207         0       1    male  22.00      0      0  135.6333        C  NaN
208         0       3  female  22.00      0      0    9.8375        S  NaN
209         0       3    male  22.00      0      0    7.2500        S  NaN
210         1       3    male  22.00      0      0    7.2250        C  NaN
211         0       3    male  22.00      0      0    7.7958        S  NaN
212         0       3    male  22.00      0      0    7.8958        S  NaN
213         1       2  female  22.00      1      2   41.5792        C  NaN
214         1       3  female  22.00      0      0    7.7500        Q  NaN
215         0       3    male  22.00      0      0    7.5208        S  NaN
216         1       2  female  22.00      1      1   29.0000        S  NaN
217         0       3    male  22.00      0      0    7.8958        S  NaN
218         0       3    male  22.00      0      0    7.2292        C  NaN
219         1       1  female  22.00      0      2   49.5000        C    B
220         0       3    male  22.00      0      0    9.0000        S  NaN
221         1       1  female  22.00      0      1   55.0000        S    E
222         0       3    male  22.00      1      0    7.2500        S  NaN
223         0       3    male  22.00      0      0    7.2500        S  NaN
224         1       1  female  22.00      1      0   66.6000        S    C
225         1       1  female  22.00      0      0  151.5500        S  NaN
226         1       3  female  22.00      0      0    7.7500        S  NaN
227         0       3    male  22.00      0      0    9.3500        S  NaN
228         0       3    male  22.00      0      0    8.0500        S  NaN
229         0       3  female  22.00      0      0   10.5167        S  NaN
230         0       3    male  22.00      0      0    7.1250        S  NaN
231         0       3    male  23.00      0      0    9.2250        S  NaN
232         0       2    male  23.00      2      1   11.5000        S  NaN
233         0       2    male  23.00      0      0   13.0000        S  NaN
234         1       1  female  23.00      1      0  113.2750        C    D
235         0       2    male  23.00      0      0   13.0000        S  NaN
236         0       3    male  23.00      0      0    7.8542        S  NaN
237         0       2    male  23.00      0      0   13.0000        S  NaN
238         1       1  female  23.00      3      2  263.0000        S    C
239         0       2    male  23.00      0      0   15.0458        C  NaN
240         0       3  female  23.00      0      0    7.9250        S  NaN
241         0       2    male  23.00      0      0   10.5000        S  NaN
242         1       2  female  23.00      0      0   13.7917        C    D
243         0       3    male  23.00      0      0    7.8958        S  NaN
244         1       3  female  23.00      0      0    7.5500        S  NaN
245         1       1    male  23.00      0      1   63.3583        C    D
246         0       3    male  23.50      0      0    7.2292        C  NaN
247         1       2  female  24.00      2      3   18.7500        S  NaN
248         0       3    male  24.00      0      0    7.0500        S  NaN
249         0       1    male  24.00      0      0   79.2000        C    B
250         1       1  female  24.00      3      2  263.0000        S    C
251         0       2    male  24.00      0      0   13.0000        S  NaN
252         0       3    male  24.00      0      0    8.0500        S  NaN
253         1       1  female  24.00      0      0   69.3000        C    B
254         1       3    male  24.00      0      0    7.1417        S  NaN
255         1       3  female  24.00      1      0   15.8500        S  NaN
256         1       2  female  24.00      0      0   13.0000        S    F
257         0       1    male  24.00      0      1  247.5208        C    B
258         1       2  female  24.00      1      2   65.0000        S  NaN
259         0       3    male  24.00      0      0    7.4958        S  NaN
260         0       3    male  24.00      0      0    7.8958        S  NaN
261         0       2    male  24.00      0      0   10.5000        S  NaN
262         1       2  female  24.00      2      1   27.0000        S  NaN
263         0       3  female  24.00      0      0    8.8500        S  NaN
264         1       2  female  24.00      0      2   14.5000        S  NaN

In [307]:
titanic.sort_values(by = "age", ignore_index = True)

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
0           1       3    male   0.42      0      1    8.5167        C  NaN
1           1       2    male   0.67      1      1   14.5000        S  NaN
2           1       3  female   0.75      2      1   19.2583        C  NaN
3           1       3  female   0.75      2      1   19.2583        C  NaN
4           1       2    male   0.83      0      2   29.0000        S  NaN
5           1       2    male   0.83      1      1   18.7500        S  NaN
6           1       1    male   0.92      1      2  151.5500        S    C
7           1       2    male   1.00      0      2   37.0042        C  NaN
8           1       3  female   1.00      0      2   15.7417        C  NaN
9           0       3    male   1.00      4      1   39.6875        S  NaN
10          1       2    male   1.00      2      1   39.0000        S    F
11          0       3    male   1.00      5      2   46.9000        S  NaN
12          1       3  female   1.00      1      1   11.1333        S  NaN
13          1       3    male   1.00      1      2   20.5750        S  NaN
14          0       3  female   2.00      3      2   27.9000        S  NaN
15          0       3    male   2.00      3      1   21.0750        S  NaN
16          1       2  female   2.00      1      1   26.0000        S  NaN
17          0       1  female   2.00      1      2  151.5500        S    C
18          0       3    male   2.00      4      1   39.6875        S  NaN
19          0       3  female   2.00      0      1   10.4625        S    G
20          0       3  female   2.00      4      2   31.2750        S  NaN
21          1       2    male   2.00      1      1   26.0000        S    F
22          1       3  female   2.00      0      1   12.2875        S  NaN
23          0       3    male   2.00      4      1   29.1250        Q  NaN
24          1       3    male   3.00      1      1   15.9000        S  NaN
25          1       2    male   3.00      1      1   18.7500        S  NaN
26          0       3  female   3.00      3      1   21.0750        S  NaN
27          1       3    male   3.00      4      2   31.3875        S  NaN
28          1       2  female   3.00      1      2   41.5792        C  NaN
29          1       2    male   3.00      1      1   26.0000        S    F
30          0       3    male   4.00      4      2   31.2750        S  NaN
31          0       3    male   4.00      4      1   29.1250        Q  NaN
32          0       3    male   4.00      3      2   27.9000        S  NaN
33          1       2  female   4.00      1      1   23.0000        S  NaN
34          1       3  female   4.00      0      1   13.4167        C  NaN
35          1       3    male   4.00      1      1   11.1333        S  NaN
36          1       2  female   4.00      2      1   39.0000        S    F
37          1       3  female   4.00      1      1   16.7000        S    G
38          1       1    male   4.00      0      2   81.8583        S    A
39          1       3  female   4.00      0      2   22.0250        S  NaN
40          1       3  female   5.00      4      2   31.3875        S  NaN
41          1       3  female   5.00      0      0   12.4750        S  NaN
42          1       3  female   5.00      2      1   19.2583        C  NaN
43          1       2  female   5.00      1      2   27.7500        S  NaN
44          1       2  female   6.00      0      1   33.0000        S  NaN
45          0       3  female   6.00      4      2   31.2750        S  NaN
46          1       3    male   6.00      0      1   12.4750        S    E
47          0       3    male   7.00      4      1   29.1250        Q  NaN
48          1       2  female   7.00      0      2   26.2500        S  NaN
49          0       3    male   7.00      4      1   39.6875        S  NaN
50          0       3  female   8.00      3      1   21.0750        S  NaN
51          1       2    male   8.00      1      1   36.7500        S  NaN
52          1       2  female   8.00      0      2   26.2500        S  NaN
53          0       3    male   8.00      4      1   29.1250        Q  NaN
54          0       3  female   9.00      2      2   34.3750        S  NaN
55          0       3  female   9.00      4      2   31.2750        S  NaN
56          0       3  female   9.00      1      1   15.2458        C  NaN
57          0       3    male   9.00      4      2   31.3875        S  NaN
58          0       3    male   9.00      5      2   46.9000        S  NaN
59          0       3  female   9.00      3      2   27.9000        S  NaN
60          1       3    male   9.00      1      1   15.9000        S  NaN
61          1       3    male   9.00      0      2   20.5250        S  NaN
62          0       3  female  10.00      0      2   24.1500        S  NaN
63          0       3    male  10.00      3      2   27.9000        S  NaN
64          0       3  female  11.00      4      2   31.2750        S  NaN
65          0       3    male  11.00      0      0   18.7875        C  NaN
66          0       3    male  11.00      5      2   46.9000        S  NaN
67          1       1    male  11.00      1      2  120.0000        S    B
68          1       3    male  12.00      1      0   11.2417        C  NaN
69          1       2  female  13.00      0      1   19.5000        S  NaN
70          1       3  female  13.00      0      0    7.2292        C  NaN
71          1       1  female  14.00      1      2  120.0000        S    B
72          0       3    male  14.00      4      1   39.6875        S  NaN
73          1       2  female  14.00      1      0   30.0708        C  NaN
74          1       3  female  14.00      1      0   11.2417        C  NaN
75          0       3    male  14.00      5      2   46.9000        S  NaN
76          0       3  female  14.00      0      0    7.8542        S  NaN
77          0       3  female  14.50      1      0   14.4542        C  NaN
78          0       3    male  15.00      1      1    7.2292        C  NaN
79          1       3  female  15.00      0      0    7.2250        C  NaN
80          1       1  female  15.00      0      1  211.3375        S    B
81          1       3  female  15.00      0      0    8.0292        Q  NaN
82          1       3  female  15.00      1      0   14.4542        C  NaN
83          1       3    male  16.00      0      0    8.0500        S  NaN
84          0       2    male  16.00      0      0   26.0000        S  NaN
85          0       3    male  16.00      2      0   18.0000        S  NaN
86          0       3    male  16.00      0      0    9.2167        S  NaN
87          0       3    male  16.00      4      1   39.6875        S  NaN
88          0       3    male  16.00      0      0    9.5000        S  NaN
89          0       3    male  16.00      1      3   34.3750        S  NaN
90          0       3    male  16.00      0      0    8.0500        S  NaN
91          0       3  female  16.00      5      2   46.9000        S  NaN
92          1       1  female  16.00      0      1   57.9792        C    B
93          0       2    male  16.00      0      0   10.5000        S  NaN
94          1       1  female  16.00      0      1   39.4000        S    D
95          0       3    male  16.00      0      0    7.7750        S  NaN
96          1       1  female  16.00      0      0   86.5000        S    B
97          0       3    male  16.00      1      1   20.2500        S  NaN
98          1       3  female  16.00      0      0    7.7333        Q  NaN
99          1       3  female  16.00      0      0    7.7500        Q  NaN
100         0       3    male  17.00      0      0    8.6625        S  NaN
101         0       3    male  17.00      1      0    7.0542        S  NaN
102         0       3    male  17.00      0      0    7.1250        S  NaN
103         1       1    male  17.00      0      2  110.8833        C    C
104         1       2  female  17.00      0      0   12.0000        C  NaN
105         0       3    male  17.00      0      0    8.6625        S  NaN
106         0       3    male  17.00      1      1    7.2292        C  NaN
107         0       3    male  17.00      0      0    8.6625        S  NaN
108         1       3  female  17.00      4      2    7.9250        S  NaN
109         1       1  female  17.00      1      0   57.0000        S    B
110         1       1  female  17.00      1      0  108.9000        C    C
111         1       2  female  17.00      0      0   10.5000        S  NaN
112         0       3  female  17.00      0      0   14.4583        C  NaN
113         0       3  female  18.00      0      0    6.7500        Q  NaN
114         0       3    male  18.00      1      1   20.2125        S  NaN
115         1       2  female  18.00      0      2   13.0000        S  NaN
116         0       3    male  18.00      0      0    7.7958        S  NaN
117         0       2    male  18.00      0      0   73.5000        S  NaN
118         0       3    male  18.00      1      0    6.4958        S  NaN
119         0       2    male  18.00      0      0   13.0000        S  NaN
120         0       1    male  18.00      1      0  108.9000        C    C
121         1       3    male  18.00      0      0    8.0500        S  NaN
122         1       3  female  18.00      0      0    9.8417        S  NaN
123         0       3    male  18.00      1      1    7.8542        S  NaN
124         0       3    male  18.00      0      0    7.7750        S  NaN
125         1       1  female  18.00      2      2  262.3750        C    B
126         1       1  female  18.00      0      2   79.6500        S    E
127         1       2  female  18.00      0      1   23.0000        S  NaN
128         0       3  female  18.00      0      1   14.4542        C  NaN
129         1       1  female  18.00      1      0  227.5250        C    C
130         0       2    male  18.00      0      0   11.5000        S  NaN
131         1       3  female  18.00      0      0    7.4958        S  NaN
132         1       3  female  18.00      0      1    9.3500        S  NaN
133         0       3  female  18.00      2      0   18.0000        S  NaN
134         0       3  female  18.00      0      0    7.7750        S  NaN
135         0       3    male  18.00      0      0    8.3000        S  NaN
136         0       2    male  18.00      0      0   11.5000        S  NaN
137         0       3    male  18.00      0      0    7.7500        S  NaN
138         0       3  female  18.00      1      0   17.8000        S  NaN
139         1       2    male  19.00      0      0   10.5000        S  NaN
140         1       1  female  19.00      0      2   26.2833        S    D
141         0       1    male  19.00      3      2  263.0000        S    C
142         0       3    male  19.00      0      0    7.6500        S    F
143         1       1  female  19.00      1      0   91.0792        C    B
144         0       3    male  19.00      0      0    0.0000        S  NaN
145         1       2  female  19.00      0      0   26.0000        S  NaN
146         0       3    male  19.00      0      0    8.1583        S  NaN
147         1       2  female  19.00      1      0   26.0000        S  NaN
148         0       3    male  19.00      0      0    7.8958        S  NaN
149         0       3    male  19.00      0      0   14.5000        S  NaN
150         0       3    male  19.00      0      0    7.8958        S  NaN
151         1       3  female  19.00      0      0    7.8792        Q  NaN
152         0       2    male  19.00      0      0   10.5000        S  NaN
153         0       3    male  19.00      0      0   10.1708        S  NaN
154         0       2    male  19.00      0      0   13.0000        S  NaN
155         0       3    male  19.00      0      0    7.8958        S  NaN
156         1       1  female  19.00      0      0   30.0000        S    B
157         1       3    male  19.00      0      0    8.0500        S  NaN
158         0       1    male  19.00      1      0   53.1000        S    D
159         0       3    male  19.00      0      0    6.7500        Q  NaN
160         0       3    male  19.00      0      0    8.0500        S  NaN
161         0       2    male  19.00      1      1   36.7500        S  NaN
162         0       3    male  19.00      0      0    7.7750        S  NaN
163         1       3  female  19.00      1      0    7.8542        S  NaN
164         0       3    male  20.00      0      0    4.0125        C  NaN
165         1       3    male  20.00      0      0    7.2292        C  NaN
166         1       3    male  20.00      1      1   15.7417        C  NaN
167         0       3    male  20.00      0      0    7.9250        S  NaN
168         0       3    male  20.00      0      0    9.8458        S  NaN
169         0       3    male  20.00      0      0    7.0500        S  NaN
170         1       3    male  20.00      1      0    7.9250        S  NaN
171         0       3    male  20.00      0      0    9.5000        S  NaN
172         0       3  female  20.00      0      0    8.6625        S  NaN
173         0       3    male  20.00      0      0    8.0500        S  NaN
174         0       3    male  20.00      0      0    7.8542        S  NaN
175         0       3    male  20.00      0      0    9.2250        S  NaN
176         0       3    male  20.00      0      0    8.6625        S  NaN
177         0       3    male  20.00      0      0    7.8542        S  NaN
178         0       3  female  20.00      1      0    9.8250        S  NaN
179         0       3    male  20.50      0      0    7.2500        S  NaN
180         0       3  female  21.00      1      0    9.8250        S  NaN
181         0       3    male  21.00      0      0    7.7750        S  NaN
182         0       1    male  21.00      0      1   77.2875        S    D
183         1       1  female  21.00      0      0   77.9583        S    D
184         1       3  female  21.00      0      0    7.6500        S  NaN
185         0       3    male  21.00      0      0    8.4333        S  NaN
186         0       2    male  21.00      0      0   73.5000        S  NaN
187         0       3    male  21.00      0      0    7.9250        S  NaN
188         0       2    male  21.00      1      0   11.5000        S  NaN
189         0       3    male  21.00      0      0    7.9250        S  NaN
190         1       1  female  21.00      2      2  262.3750        C    B
191         0       3    male  21.00      0      0    8.0500        S  NaN
192         0       3  female  21.00      0      0    7.7500        Q  NaN
193         0       3    male  21.00      0      0    8.0500        S  NaN
194         0       3  female  21.00      2      2   34.3750        S  NaN
195         0       3    male  21.00      0      0    7.2500        S  NaN
196         0       3    male  21.00      0      0    7.8000        S  NaN
197         0       3    male  21.00      0      0    7.7333        Q  NaN
198         1       2  female  21.00      0      0   10.5000        S  NaN
199         0       3    male  21.00      0      0    7.8542        S  NaN
200         0       3    male  21.00      0      0    8.6625        S  NaN
201         0       3    male  21.00      0      0   16.1000        S  NaN
202         1       3    male  21.00      0      0    7.7958        S  NaN
203         0       2    male  21.00      2      0   73.5000        S  NaN
204         0       3    male  22.00      0      0    8.0500        S  NaN
205         1       3  female  22.00      0      0    7.2500        S  NaN
206         1       3  female  22.00      0      0    7.7750        S  NaN
207         0       1    male  22.00      0      0  135.6333        C  NaN
208         0       3  female  22.00      0      0    9.8375        S  NaN
209         0       3    male  22.00      0      0    7.2500        S  NaN
210         1       3    male  22.00      0      0    7.2250        C  NaN
211         0       3    male  22.00      0      0    7.7958        S  NaN
212         0       3    male  22.00      0      0    7.8958        S  NaN
213         1       2  female  22.00      1      2   41.5792        C  NaN
214         1       3  female  22.00      0      0    7.7500        Q  NaN
215         0       3    male  22.00      0      0    7.5208        S  NaN
216         1       2  female  22.00      1      1   29.0000        S  NaN
217         0       3    male  22.00      0      0    7.8958        S  NaN
218         0       3    male  22.00      0      0    7.2292        C  NaN
219         1       1  female  22.00      0      2   49.5000        C    B
220         0       3    male  22.00      0      0    9.0000        S  NaN
221         1       1  female  22.00      0      1   55.0000        S    E
222         0       3    male  22.00      1      0    7.2500        S  NaN
223         0       3    male  22.00      0      0    7.2500        S  NaN
224         1       1  female  22.00      1      0   66.6000        S    C
225         1       1  female  22.00      0      0  151.5500        S  NaN
226         1       3  female  22.00      0      0    7.7500        S  NaN
227         0       3    male  22.00      0      0    9.3500        S  NaN
228         0       3    male  22.00      0      0    8.0500        S  NaN
229         0       3  female  22.00      0      0   10.5167        S  NaN
230         0       3    male  22.00      0      0    7.1250        S  NaN
231         0       3    male  23.00      0      0    9.2250        S  NaN
232         0       2    male  23.00      2      1   11.5000        S  NaN
233         0       2    male  23.00      0      0   13.0000        S  NaN
234         1       1  female  23.00      1      0  113.2750        C    D
235         0       2    male  23.00      0      0   13.0000        S  NaN
236         0       3    male  23.00      0      0    7.8542        S  NaN
237         0       2    male  23.00      0      0   13.0000        S  NaN
238         1       1  female  23.00      3      2  263.0000        S    C
239         0       2    male  23.00      0      0   15.0458        C  NaN
240         0       3  female  23.00      0      0    7.9250        S  NaN
241         0       2    male  23.00      0      0   10.5000        S  NaN
242         1       2  female  23.00      0      0   13.7917        C    D
243         0       3    male  23.00      0      0    7.8958        S  NaN
244         1       3  female  23.00      0      0    7.5500        S  NaN
245         1       1    male  23.00      0      1   63.3583        C    D
246         0       3    male  23.50      0      0    7.2292        C  NaN
247         1       2  female  24.00      2      3   18.7500        S  NaN
248         0       3    male  24.00      0      0    7.0500        S  NaN
249         0       1    male  24.00      0      0   79.2000        C    B
250         1       1  female  24.00      3      2  263.0000        S    C
251         0       2    male  24.00      0      0   13.0000        S  NaN
252         0       3    male  24.00      0      0    8.0500        S  NaN
253         1       1  female  24.00      0      0   69.3000        C    B
254         1       3    male  24.00      0      0    7.1417        S  NaN
255         1       3  female  24.00      1      0   15.8500        S  NaN
256         1       2  female  24.00      0      0   13.0000        S    F
257         0       1    male  24.00      0      1  247.5208        C    B
258         1       2  female  24.00      1      2   65.0000        S  NaN
259         0       3    male  24.00      0      0    7.4958        S  NaN
260         0       3    male  24.00      0      0    7.8958        S  NaN
261         0       2    male  24.00      0      0   10.5000        S  NaN
262         1       2  female  24.00      2      1   27.0000        S  NaN
263         0       3  female  24.00      0      0    8.8500        S  NaN
264         1       2  female  24.00      0      2   14.5000        S  NaN

### Ranking DataFrames with rank()

In [308]:
import pandas as pd

In [309]:
sales = pd.Series([15, 32, 45, 21, 55, 15, 0],  index = ["Mo", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"])

In [310]:
sales = pd.Series([15, 32, 45, 15, 55, 15, 0],  index = ["Mo", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"])

In [311]:
sales

Mo     15
Tue    32
Wed    45
Thu    15
Fri    55
Sat    15
Sun     0
dtype: int64

In [312]:
sales.sort_values(ascending = False)

Fri    55
Wed    45
Tue    32
Mo     15
Thu    15
Sat    15
Sun     0
dtype: int64

In [313]:
sales.rank(ascending=False, method = "average").sort_values(ascending = True)
# rank를 통해서 해당 데이터의 등수를 지정해줄 수 있다. ascending을 통해서 작은게 1등인지 가장 큰 게 1등인지 지정가능하다.
# method에서 평균을 지정하면, 다음과 같이 5.0을 3번 반복하지 않고, 해당 평균값에 맞게 소수점 랭크를 부여해준다.

Fri    1.0
Wed    2.0
Tue    3.0
Mo     5.0
Thu    5.0
Sat    5.0
Sun    7.0
dtype: float64

In [314]:
sales.rank(ascending=False, method = "min", pct=True).sort_values()
# pct는 퍼센테이지(백분율)을 의미하고, 랭킹을 백분율로 나타내어 백분위를 알아볼 수 있게 도와준다.

Fri    0.142857
Wed    0.285714
Tue    0.428571
Mo     0.571429
Thu    0.571429
Sat    0.571429
Sun    1.000000
dtype: float64

In [315]:
titanic = pd.read_csv("titanic.csv")

In [316]:
titanic.fare.rank(method = "min", ascending = False)

0      809.0
1      103.0
2      651.0
3      142.0
4      607.0
5      599.0
6      157.0
7      358.0
8      525.0
9      233.0
10     396.0
11     270.0
12     607.0
13     216.0
14     713.0
15     407.0
16     244.0
17     464.0
18     390.0
19     837.0
20     296.0
21     464.0
22     650.0
23     195.0
24     358.0
25     212.0
26     837.0
27       4.0
28     708.0
29     669.0
30     263.0
31      30.0
32     752.0
33     529.0
34      72.0
35     150.0
36     822.0
37     607.0
38     390.0
39     523.0
40     573.0
41     362.0
42     669.0
43     173.0
44     708.0
45     607.0
46     418.0
47     752.0
48     357.0
49     393.0
50     177.0
51     728.0
52      93.0
53     296.0
54     120.0
55     195.0
56     529.0
57     822.0
58     259.0
59     166.0
60     822.0
61      75.0
62      67.0
63     253.0
64     263.0
65     426.0
66     529.0
67     604.0
68     651.0
69     584.0
70     529.0
71     166.0
72      98.0
73     445.0
74     130.0
75     795.0
76     669.0
77     607.0
78     249.0
79     509.0
80     579.0
81     563.0
82     735.0
83     165.0
84     529.0
85     410.0
86     201.0
87     607.0
88       4.0
89     607.0
90     607.0
91     713.0
92     122.0
93     368.0
94     809.0
95     607.0
96     200.0
97     119.0
98     349.0
99     296.0
100    669.0
101    669.0
102     91.0
103    597.0
104    651.0
105    669.0
106    795.0
107    736.0
108    669.0
109    335.0
110    150.0
111    445.0
112    607.0
113    559.0
114    442.0
115    651.0
116    752.0
117    362.0
118     10.0
119    216.0
120     98.0
121    607.0
122    233.0
123    464.0
124     91.0
125    523.0
126    752.0
127    849.0
128    354.0
129    864.0
130    669.0
131    856.0
132    435.0
133    296.0
134    464.0
135    433.0
136    289.0
137    142.0
138    578.0
139     80.0
140    426.0
141    752.0
142    410.0
143    868.0
144    519.0
145    193.0
146    729.0
147    201.0
148    296.0
149    464.0
150    508.0
151    115.0
152    607.0
153    435.0
154    808.0
155    121.0
156    789.0
157    607.0
158    584.0
159    106.0
160    398.0
161    414.0
162    736.0
163    584.0
164    177.0
165    370.0
166    140.0
167    253.0
168    329.0
169    130.0
170    206.0
171    244.0
172    525.0
173    651.0
174    226.0
175    713.0
176    331.0
177    251.0
178    464.0
179    877.0
180    106.0
181    432.0
182    212.0
183    186.0
184    356.0
185    161.0
186    418.0
187    270.0
188    418.0
189    669.0
190    464.0
191    464.0
192    713.0
193    296.0
194    263.0
195     30.0
196    752.0
197    601.0
198    752.0
199    464.0
200    563.0
201    106.0
202    870.0
203    837.0
204    607.0
205    553.0
206    410.0
207    385.0
208    752.0
209    223.0
210    856.0
211    362.0
212    809.0
213    464.0
214    752.0
215     43.0
216    651.0
217    268.0
218     96.0
219    529.0
220    607.0
221    464.0
222    607.0
223    669.0
224     58.0
225    574.0
226    529.0
227    809.0
228    464.0
229    331.0
230     67.0
231    736.0
232    459.0
233    212.0
234    529.0
235    800.0
236    296.0
237    290.0
238    529.0
239    517.0
240    445.0
241    418.0
242    529.0
243    850.0
244    837.0
245     58.0
246    736.0
247    435.0
248    147.0
249    296.0
250    809.0
251    553.0
252    270.0
253    398.0
254    375.0
255    426.0
256     80.0
257     64.0
258      1.0
259    296.0
260    752.0
261    212.0
262     77.0
263    877.0
264    752.0
265    529.0
266    177.0
267    736.0
268     23.0
269     32.0
270    223.0
271    877.0
272    379.0
273    241.0
274    752.0
275     88.0
276    752.0
277    877.0
278    244.0
279    373.0
280    752.0
281    713.0
282    563.0
283    607.0
284    296.0
285    584.0
286    563.0
287    669.0
288    464.0
289    752.0
290     84.0
291     56.0
292    506.0
293    581.0
294    669.0
295    263.0
296    822.0
297     26.0
298    228.0
299     10.0
300    752.0
301    347.0
302    877.0
303    513.0
304    607.0
305     26.0
306     46.0
307     50.0
308    343.0
309    128.0
310     69.0
311      8.0
312    296.0
313    669.0
314    290.0
315    713.0
316    296.0
317    455.0
318     21.0
319     35.0
320    809.0
321    669.0
322    513.0
323    249.0
324    106.0
325     32.0
326    874.0
327    464.0
328    370.0
329    124.0
330    347.0
331    252.0
332     23.0
333    390.0
334     37.0
335    669.0
336    115.0
337     35.0
338    607.0
339    195.0
340    296.0
341      4.0
342    464.0
343    464.0
344    464.0
345    464.0
346    464.0
347    398.0
348    408.0
349    584.0
350    576.0
351    199.0
352    822.0
353    393.0
354    837.0
355    563.0
356    140.0
357    464.0
358    708.0
359    708.0
360    253.0
361    263.0
362    445.0
363    856.0
364    418.0
365    809.0
366     97.0
367    822.0
368    752.0
369    113.0
370    139.0
371    870.0
372    607.0
373     32.0
374    358.0
375     72.0
376    809.0
377     17.0
378    876.0
379    736.0
380     12.0
381    415.0
382    651.0
383    150.0
384    669.0
385     98.0
386    166.0
387    464.0
388    793.0
389    518.0
390     39.0
391    729.0
392    651.0
393     43.0
394    396.0
395    729.0
396    713.0
397    296.0
398    529.0
399    507.0
400    651.0
401    607.0
402    559.0
403    410.0
404    584.0
405    362.0
406    752.0
407    387.0
408    736.0
409    331.0
410    669.0
411    867.0
412     58.0
413    877.0
414    651.0
415    607.0
416    210.0
417    464.0
418    464.0
419    335.0
420    669.0
421    789.0
422    712.0
423    452.0
424    375.0
425    809.0
426    296.0
427    296.0
428    752.0
429    607.0
430    270.0
431    398.0
432    296.0
433    850.0
434    137.0
435     39.0
436    201.0
437    387.0
438      4.0
439    529.0
440    290.0
441    563.0
442    736.0
443    464.0
444    606.0
445     74.0
446    379.0
447    270.0
448    381.0
449    228.0
450    259.0
451    377.0
452    259.0
453     62.0
454    607.0
455    669.0
456    270.0
457    157.0
458    529.0
459    752.0
460    270.0
461    607.0
462    190.0
463    464.0
464    607.0
465    856.0
466    877.0
467    270.0
468    794.0
469    381.0
470    809.0
471    584.0
472    259.0
473    458.0
474    558.0
475    150.0
476    362.0
477    863.0
478    804.0
479    516.0
480    166.0
481    877.0
482    607.0
483    561.0
484     56.0
485    331.0
486     58.0
487    241.0
488    607.0
489    408.0
490    377.0
491    809.0
492    228.0
493    162.0
494    607.0
495    442.0
496     86.0
497    431.0
498     26.0
499    729.0
500    584.0
501    752.0
502    799.0
503    561.0
504     64.0
505     50.0
506    296.0
507    270.0
508    353.0
509    130.0
510    752.0
511    607.0
512    286.0
513    123.0
514    805.0
515    205.0
516    529.0
517    335.0
518    296.0
519    669.0
520     54.0
521    669.0
522    837.0
523    124.0
524    822.0
525    752.0
526    529.0
527     16.0
528    651.0
529    519.0
530    296.0
531    822.0
532    822.0
533    354.0
534    584.0
535    290.0
536    270.0
537     52.0
538    435.0
539    164.0
540    104.0
541    216.0
542    216.0
543    296.0
544     52.0
545    296.0
546    296.0
547    456.0
548    370.0
549    193.0
550     46.0
551    296.0
552    726.0
553    837.0
554    736.0
555    270.0
556    183.0
557     12.0
558     77.0
559    395.0
560    752.0
561    669.0
562    459.0
563    607.0
564    607.0
565    335.0
566    669.0
567    358.0
568    822.0
569    713.0
570    529.0
571    159.0
572    285.0
573    752.0
574    607.0
575    435.0
576    464.0
577    137.0
578    442.0
579    651.0
580    235.0
581     46.0
582    296.0
583    176.0
584    582.0
585     77.0
586    434.0
587     80.0
588    607.0
589    607.0
590    850.0
591     86.0
592    809.0
593    752.0
594    296.0
595    335.0
596    207.0
597    877.0
598    837.0
599    128.0
600    268.0
601    669.0
602    172.0
603    607.0
604    270.0
605    417.0
606    669.0
607    228.0
608    173.0
609     23.0
610    216.0
611    856.0
612    418.0
613    752.0
614    607.0
615    117.0
616    452.0
617    398.0
618    186.0
619    529.0
620    445.0
621    147.0
622    415.0
623    713.0
624    398.0
625    211.0
626    513.0
627     88.0
628    669.0
629    789.0
630    235.0
631    854.0
632    228.0
633    877.0
634    253.0
635    464.0
636    651.0
637    290.0
638    177.0
639    398.0
640    713.0
641    113.0
642    253.0
643    130.0
644    381.0
645     93.0
646    669.0
647    195.0
648    800.0
649    800.0
650    669.0
651    349.0
652    600.0
653    726.0
654    868.0
655     98.0
656    669.0
657    418.0
658    464.0
659     43.0
660     37.0
661    837.0
662    330.0
663    805.0
664    651.0
665     98.0
666    464.0
667    736.0
668    607.0
669    150.0
670    186.0
671    150.0
672    529.0
673    464.0
674    877.0
675    736.0
676    607.0
677    557.0
678    166.0
679      1.0
680    605.0
681     93.0
682    576.0
683    166.0
684    186.0
685    173.0
686    177.0
687    555.0
688    729.0
689     18.0
690    126.0
691    463.0
692    130.0
693    837.0
694    270.0
695    459.0
696    607.0
697    789.0
698     46.0
699    795.0
700     12.0
701    286.0
702    445.0
703    786.0
704    713.0
705    296.0
706    459.0
707    286.0
708     26.0
709    426.0
710    162.0
711    270.0
712    150.0
713    572.0
714    464.0
715    795.0
716     12.0
717    529.0
718    418.0
719    736.0
720    207.0
721    854.0
722    464.0
723    464.0
724    142.0
725    584.0
726    362.0
727    787.0
728    296.0
729    651.0
730     18.0
731    385.0
732    877.0
733    464.0
734    464.0
735    398.0
736    201.0
737      1.0
738    669.0
739    669.0
740    235.0
741     84.0
742      8.0
743    398.0
744    651.0
745    104.0
746    373.0
747    464.0
748    142.0
749    752.0
750    349.0
751    509.0
752    563.0
753    669.0
754    117.0
755    435.0
756    729.0
757    519.0
758    607.0
759     64.0
760    435.0
761    850.0
762    822.0
763     39.0
764    736.0
765     88.0
766    183.0
767    752.0
768    335.0
769    602.0
770    563.0
771    713.0
772    529.0
773    837.0
774    349.0
775    752.0
776    752.0
777    509.0
778    787.0
779     18.0
780    822.0
781    126.0
782    235.0
783    345.0
784    856.0
785    809.0
786    805.0
787    244.0
788    368.0
789     80.0
790    752.0
791    296.0
792    106.0
793    226.0
794    669.0
795    464.0
796    327.0
797    583.0
798    822.0
799    335.0
800    464.0
801    290.0
802     39.0
803    598.0
804    864.0
805    736.0
806    877.0
807    736.0
808    464.0
809    142.0
810    707.0
811    335.0
812    529.0
813    216.0
814    607.0
815    877.0
816    651.0
817    191.0
818    872.0
819    253.0
820     54.0
821    584.0
822    877.0
823    509.0
824    177.0
825    866.0
826    130.0
827    191.0
828    752.0
829     75.0
830    445.0
831    387.0
832    822.0
833    713.0
834    603.0
835     69.0
836    584.0
837    607.0
838    130.0
839    241.0
840    651.0
841    529.0
842    223.0
843    873.0
844    584.0
845    800.0
846    106.0
847    669.0
848    207.0
849     62.0
850    216.0
851    736.0
852    426.0
853    185.0
854    296.0
855    574.0
856     21.0
857    270.0
858    381.0
859    822.0
860    454.0
861    519.0
862    327.0
863    106.0
864    464.0
865    464.0
866    457.0
867    160.0
868    563.0
869    525.0
870    669.0
871    147.0
872    875.0
873    579.0
874    343.0
875    837.0
876    556.0
877    669.0
878    669.0
879     69.0
880    296.0
881    669.0
882    528.0
883    529.0
884    856.0
885    244.0
886    464.0
887    235.0
888    345.0
889    235.0
890    752.0
Name: fare, dtype: float64

In [317]:
titanic["fare_rank"] = titanic.fare.rank(ascending = False, method="min")

In [318]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,fare_rank
0,0,3,male,22.0,1,0,7.2500,S,NaN,809.0
1,1,1,female,38.0,1,0,71.2833,C,C,103.0
2,1,3,female,26.0,0,0,7.9250,S,NaN,651.0
3,1,1,female,35.0,1,0,53.1000,S,C,142.0
4,0,3,male,35.0,0,0,8.0500,S,NaN,607.0

In [319]:
titanic.sort_values("fare", ascending= False)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,fare_rank
258,1,1,female,35.00,0,0,512.3292,C,NaN,1.0
737,1,1,male,35.00,0,0,512.3292,C,B,1.0
679,1,1,male,36.00,0,1,512.3292,C,B,1.0
88,1,1,female,23.00,3,2,263.0000,S,C,4.0
27,0,1,male,19.00,3,2,263.0000,S,C,4.0
341,1,1,female,24.00,3,2,263.0000,S,C,4.0
438,0,1,male,64.00,1,4,263.0000,S,C,4.0
311,1,1,female,18.00,2,2,262.3750,C,B,8.0
742,1,1,female,21.00,2,2,262.3750,C,B,8.0
118,0,1,male,24.00,0,1,247.5208,C,B,10.0
299,1,1,female,50.00,0,1,247.5208,C,B,10.0
557,0,1,male,NaN,0,0,227.5250,C,NaN,12.0
700,1,1,female,18.00,1,0,227.5250,C,C,12.0
380,1,1,female,42.00,0,0,227.5250,C,NaN,12.0
716,1,1,female,38.00,0,0,227.5250,C,C,12.0
527,0,1,male,NaN,0,0,221.7792,S,C,16.0
377,0,1,male,27.00,0,2,211.5000,C,C,17.0
730,1,1,female,29.00,0,0,211.3375,S,B,18.0
779,1,1,female,43.00,0,1,211.3375,S,B,18.0
689,1,1,female,15.00,0,1,211.3375,S,B,18.0
318,1,1,female,31.00,0,2,164.8667,S,C,21.0
856,1,1,female,45.00,1,1,164.8667,S,NaN,21.0
268,1,1,female,58.00,0,1,153.4625,S,C,23.0
332,0,1,male,38.00,0,1,153.4625,S,C,23.0
609,1,1,female,40.00,0,0,153.4625,S,C,23.0
498,0,1,female,25.00,1,2,151.5500,S,C,26.0
305,1,1,male,0.92,1,2,151.5500,S,C,26.0
297,0,1,female,2.00,1,2,151.5500,S,C,26.0
708,1,1,female,22.00,0,0,151.5500,S,NaN,26.0
195,1,1,female,58.00,0,0,146.5208,C,B,30.0
31,1,1,female,NaN,1,0,146.5208,C,B,30.0
373,0,1,male,22.00,0,0,135.6333,C,NaN,32.0
325,1,1,female,36.00,0,0,135.6333,C,C,32.0
269,1,1,female,35.00,0,0,135.6333,S,C,32.0
319,1,1,female,40.00,1,1,134.5000,C,E,35.0
337,1,1,female,41.00,0,0,134.5000,C,E,35.0
334,1,1,female,NaN,1,0,133.6500,S,NaN,37.0
660,1,1,male,50.00,2,0,133.6500,S,NaN,37.0
435,1,1,female,14.00,1,2,120.0000,S,B,39.0
802,1,1,male,11.00,1,2,120.0000,S,B,39.0
763,1,1,female,36.00,1,2,120.0000,S,B,39.0
390,1,1,male,36.00,1,2,120.0000,S,B,39.0
215,1,1,female,31.00,1,0,113.2750,C,D,43.0
659,0,1,male,58.00,0,2,113.2750,C,D,43.0
393,1,1,female,23.00,1,0,113.2750,C,D,43.0
581,1,1,female,39.00,1,1,110.8833,C,C,46.0
550,1,1,male,17.00,0,2,110.8833,C,C,46.0
698,0,1,male,49.00,1,1,110.8833,C,C,46.0
306,1,1,female,NaN,0,0,110.8833,C,NaN,46.0
307,1,1,female,17.00,1,0,108.9000,C,C,50.0
505,0,1,male,18.00,1,0,108.9000,C,C,50.0
544,0,1,male,50.00,1,0,106.4250,C,C,52.0
537,1,1,female,30.00,0,0,106.4250,C,NaN,52.0
820,1,1,female,52.00,1,1,93.5000,S,B,54.0
520,1,1,female,30.00,0,0,93.5000,S,B,54.0
291,1,1,female,19.00,1,0,91.0792,C,B,56.0
484,1,1,male,25.00,1,0,91.0792,C,B,56.0
486,1,1,female,35.00,1,0,90.0000,S,C,58.0
412,1,1,female,33.00,1,0,90.0000,Q,C,58.0
245,0,1,male,44.00,2,0,90.0000,Q,C,58.0
224,1,1,male,38.00,1,0,90.0000,S,C,58.0
849,1,1,female,NaN,1,0,89.1042,C,C,62.0
453,1,1,male,49.00,1,0,89.1042,C,C,62.0
504,1,1,female,16.00,0,0,86.5000,S,B,64.0
257,1,1,female,30.00,0,0,86.5000,S,B,64.0
759,1,1,female,33.00,0,0,86.5000,S,B,64.0
62,0,1,male,45.00,1,0,83.4750,S,C,67.0
230,1,1,female,35.00,1,0,83.4750,S,C,67.0
879,1,1,female,56.00,0,1,83.1583,C,C,69.0
835,1,1,female,39.00,1,1,83.1583,C,E,69.0
310,1,1,female,24.00,0,0,83.1583,C,C,69.0
375,1,1,female,NaN,1,0,82.1708,C,NaN,72.0
34,0,1,male,28.00,1,0,82.1708,C,NaN,72.0
445,1,1,male,4.00,0,2,81.8583,S,A,74.0
829,1,1,female,62.00,0,0,80.0000,NaN,B,75.0
61,1,1,female,38.00,0,0,80.0000,NaN,B,75.0
558,1,1,female,39.00,1,1,79.6500,S,E,77.0
262,0,1,male,52.00,1,1,79.6500,S,E,77.0
585,1,1,female,18.00,0,2,79.6500,S,E,77.0
256,1,1,female,NaN,0,0,79.2000,C,NaN,80.0
139,0,1,male,24.00,0,0,79.2000,C,B,80.0
789,0,1,male,46.00,0,0,79.2000,C,B,80.0
587,1,1,male,60.00,1,1,79.2000,C,B,80.0
741,0,1,male,36.00,1,0,78.8500,S,C,84.0
290,1,1,female,26.00,0,0,78.8500,S,NaN,84.0
496,1,1,female,54.00,1,0,78.2667,C,D,86.0
591,1,1,female,52.00,1,0,78.2667,C,D,86.0
627,1,1,female,21.00,0,0,77.9583,S,D,88.0
275,1,1,female,63.00,1,0,77.9583,S,D,88.0
765,1,1,female,51.00,1,0,77.9583,S,D,88.0
102,0,1,male,21.00,0,1,77.2875,S,D,91.0
124,0,1,male,54.00,0,1,77.2875,S,D,91.0
52,1,1,female,49.00,1,0,76.7292,C,D,93.0
681,1,1,male,27.00,0,0,76.7292,C,D,93.0
645,1,1,male,48.00,1,0,76.7292,C,D,93.0
218,1,1,female,32.00,0,0,76.2917,C,D,96.0
366,1,1,female,60.00,1,0,75.2500,C,D,97.0
655,0,2,male,24.00,2,0,73.5000,S,NaN,98.0
385,0,2,male,18.00,0,0,73.5000,S,NaN,98.0
72,0,2,male,21.00,0,0,73.5000,S,NaN,98.0
665,0,2,male,32.00,2,0,73.5000,S,NaN,98.0
120,0,2,male,21.00,2,0,73.5000,S,NaN,98.0
1,1,1,female,38.00,1,0,71.2833,C,C,103.0
540,1,1,female,36.00,0,2,71.0000,S,B,104.0
745,0,1,male,70.00,1,1,71.0000,S,B,104.0
863,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
324,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
180,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
201,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
159,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
792,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
846,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
369,1,1,female,24.00,0,0,69.3000,C,B,113.0
641,1,1,female,24.00,0,0,69.3000,C,B,113.0
151,1,1,female,22.00,1,0,66.6000,S,C,115.0
336,0,1,male,29.00,1,0,66.6000,S,C,115.0
754,1,2,female,48.00,1,2,65.0000,S,NaN,117.0
615,1,2,female,24.00,1,2,65.0000,S,NaN,117.0
97,1,1,male,23.00,0,1,63.3583,C,D,119.0
54,0,1,male,65.00,0,1,61.9792,C,B,120.0
155,0,1,male,51.00,0,1,61.3792,C,NaN,121.0
92,0,1,male,46.00,1,0,61.1750,S,E,122.0
513,1,1,female,54.00,1,0,59.4000,C,NaN,123.0
523,1,1,female,44.00,0,1,57.9792,C,B,124.0
329,1,1,female,16.00,0,1,57.9792,C,B,124.0
781,1,1,female,17.00,1,0,57.0000,S,B,126.0
690,1,1,male,31.00,1,0,57.0000,S,B,126.0
599,1,1,male,49.00,1,0,56.9292,C,A,128.0
309,1,1,female,30.00,0,0,56.9292,C,E,128.0
169,0,3,male,28.00,0,0,56.4958,S,NaN,130.0
838,1,3,male,32.00,0,0,56.4958,S,NaN,130.0
692,1,3,male,NaN,0,0,56.4958,S,NaN,130.0
74,1,3,male,32.00,0,0,56.4958,S,NaN,130.0
643,1,3,male,NaN,0,0,56.4958,S,NaN,130.0
826,0,3,male,NaN,0,0,56.4958,S,NaN,130.0
509,1,3,male,26.00,0,0,56.4958,S,NaN,130.0
577,1,1,female,39.00,1,0,55.9000,S,E,137.0
434,0,1,male,50.00,1,0,55.9000,S,E,137.0
370,1,1,male,25.00,1,0,55.4417,C,E,139.0
166,1,1,female,NaN,0,1,55.0000,S,E,140.0
356,1,1,female,22.00,0,1,55.0000,S,E,140.0
809,1,1,female,33.00,1,0,53.1000,S,E,142.0
748,0,1,male,19.00,1,0,53.1000,S,D,142.0
137,0,1,male,37.00,1,0,53.1000,S,C,142.0
724,1,1,male,27.00,1,0,53.1000,S,E,142.0
3,1,1,female,35.00,1,0,53.1000,S,C,142.0
871,1,1,female,47.00,1,1,52.5542,S,D,147.0
621,1,1,male,42.00,1,0,52.5542,S,D,147.0
248,1,1,male,37.00,1,1,52.5542,S,D,147.0
669,1,1,female,NaN,1,0,52.0000,S,C,150.0
383,1,1,female,35.00,1,0,52.0000,S,NaN,150.0
671,0,1,male,31.00,1,0,52.0000,S,B,150.0
712,1,1,male,48.00,1,0,52.0000,S,C,150.0
35,0,1,male,42.00,1,0,52.0000,S,NaN,150.0
475,0,1,male,NaN,0,0,52.0000,S,A,150.0
110,0,1,male,47.00,0,0,52.0000,S,C,150.0
6,0,1,male,54.00,0,0,51.8625,S,E,157.0
457,1,1,female,NaN,1,0,51.8625,S,D,157.0
571,1,1,female,53.00,2,0,51.4792,S,C,159.0
867,0,1,male,31.00,0,0,50.4958,S,A,160.0
185,0,1,male,NaN,0,0,50.0000,S,A,161.0
493,0,1,male,71.00,0,0,49.5042,C,NaN,162.0
710,1,1,female,24.00,0,0,49.5042,C,C,162.0
539,1,1,female,22.00,0,2,49.5000,C,B,164.0
83,0,1,male,28.00,0,0,47.1000,S,NaN,165.0
71,0,3,female,16.00,5,2,46.9000,S,NaN,166.0
386,0,3,male,1.00,5,2,46.9000,S,NaN,166.0
480,0,3,male,9.00,5,2,46.9000,S,NaN,166.0
678,0,3,female,43.00,1,6,46.9000,S,NaN,166.0
683,0,3,male,14.00,5,2,46.9000,S,NaN,166.0
59,0,3,male,11.00,5,2,46.9000,S,NaN,166.0
602,0,1,male,NaN,0,0,42.4000,S,NaN,172.0
608,1,2,female,22.00,1,2,41.5792,C,NaN,173.0
685,0,2,male,25.00,1,2,41.5792,C,NaN,173.0
43,1,2,female,3.00,1,2,41.5792,C,NaN,173.0
583,0,1,male,36.00,0,0,40.1250,C,A,176.0
686,0,3,male,14.00,4,1,39.6875,S,NaN,177.0
266,0,3,male,16.00,4,1,39.6875,S,NaN,177.0
638,0,3,female,41.00,0,5,39.6875,S,NaN,177.0
164,0,3,male,1.00,4,1,39.6875,S,NaN,177.0
824,0,3,male,2.00,4,1,39.6875,S,NaN,177.0
50,0,3,male,7.00,4,1,39.6875,S,NaN,177.0
766,0,1,male,NaN,0,0,39.6000,C,NaN,183.0
556,1,1,female,48.00,1,0,39.6000,C,A,183.0
853,1,1,female,16.00,0,1,39.4000,S,D,185.0
670,1,2,female,40.00,1,1,39.0000,S,NaN,186.0
684,0,2,male,60.00,1,1,39.0000,S,NaN,186.0
183,1,2,male,1.00,2,1,39.0000,S,F,186.0
618,1,2,female,4.00,2,1,39.0000,S,F,186.0
462,0,1,male,47.00,0,0,38.5000,S,E,190.0
817,0,2,male,31.00,1,1,37.0042,C,NaN,191.0
827,1,2,male,1.00,0,2,37.0042,C,NaN,191.0
145,0,2,male,19.00,1,1,36.7500,S,NaN,193.0
549,1,2,male,8.00,1,1,36.7500,S,NaN,193.0
647,1,1,male,56.00,0,0,35.5000,C,A,195.0
339,0,1,male,45.00,0,0,35.5000,S,NaN,195.0
55,1,1,male,NaN,0,0,35.5000,S,C,195.0
23,1,1,male,28.00,0,0,35.5000,S,A,195.0
351,0,1,male,NaN,0,0,35.0000,S,C,199.0
96,0,1,male,71.00,0,0,34.6542,C,A,200.0
86,0,3,male,16.00,1,3,34.3750,S,NaN,201.0
436,0,3,female,21.00,2,2,34.3750,S,NaN,201.0
736,0,3,female,48.00,1,3,34.3750,S,NaN,201.0
147,0,3,female,9.00,2,2,34.3750,S,NaN,201.0
515,0,1,male,47.00,0,0,34.0208,S,D,205.0
170,0,1,male,61.00,0,0,33.5000,S,B,206.0
848,0,2,male,28.00,0,1,33.0000,S,NaN,207.0
720,1,2,female,6.00,0,1,33.0000,S,NaN,207.0
596,1,2,female,NaN,0,0,33.0000,S,NaN,207.0
416,1,2,female,34.00,1,1,32.5000,S,NaN,210.0
625,0,1,male,61.00,0,0,32.3208,S,D,211.0
25,1,3,female,38.00,1,5,31.3875,S,NaN,212.0
182,0,3,male,9.00,4,2,31.3875,S,NaN,212.0
233,1,3,female,5.00,4,2,31.3875,S,NaN,212.0
261,1,3,male,3.00,4,2,31.3875,S,NaN,212.0
813,0,3,female,6.00,4,2,31.2750,S,NaN,216.0
13,0,3,male,39.00,1,5,31.2750,S,NaN,216.0
119,0,3,female,2.00,4,2,31.2750,S,NaN,216.0
610,0,3,female,39.00,1,5,31.2750,S,NaN,216.0
850,0,3,male,4.00,4,2,31.2750,S,NaN,216.0
542,0,3,female,11.00,4,2,31.2750,S,NaN,216.0
541,0,3,female,9.00,4,2,31.2750,S,NaN,216.0
270,0,1,male,NaN,0,0,31.0000,S,NaN,223.0
209,1,1,male,40.00,0,0,31.0000,C,A,223.0
842,1,1,female,30.00,0,0,31.0000,C,NaN,223.0
793,0,1,male,NaN,0,0,30.6958,C,NaN,226.0
174,0,1,male,56.00,0,0,30.6958,C,A,226.0
492,0,1,male,55.00,0,0,30.5000,S,C,228.0
607,1,1,male,27.00,0,0,30.5000,S,NaN,228.0
449,1,1,male,52.00,0,0,30.5000,S,C,228.0
298,1,1,male,NaN,0,0,30.5000,S,C,228.0
632,1,1,male,32.00,0,0,30.5000,C,B,228.0
122,0,2,male,32.50,1,0,30.0708,C,NaN,233.0
9,1,2,female,14.00,1,0,30.0708,C,NaN,233.0
740,1,1,male,NaN,0,0,30.0000,S,D,235.0
889,1,1,male,26.00,0,0,30.0000,C,C,235.0
580,1,2,female,25.00,1,1,30.0000,S,NaN,235.0
782,0,1,male,29.00,0,0,30.0000,S,D,235.0
630,1,1,male,80.00,0,0,30.0000,S,A,235.0
887,1,1,female,19.00,0,0,30.0000,S,B,235.0
839,1,1,male,NaN,0,0,29.7000,C,C,241.0
487,0,1,male,58.00,0,0,29.7000,C,B,241.0
273,0,1,male,37.00,0,1,29.7000,C,C,241.0
16,0,3,male,2.00,4,1,29.1250,Q,NaN,244.0
885,0,3,female,39.00,0,5,29.1250,Q,NaN,244.0
787,0,3,male,8.00,4,1,29.1250,Q,NaN,244.0
171,0,3,male,4.00,4,1,29.1250,Q,NaN,244.0
278,0,3,male,7.00,4,1,29.1250,Q,NaN,244.0
78,1,2,male,0.83,0,2,29.0000,S,NaN,249.0
323,1,2,female,22.00,1,1,29.0000,S,NaN,249.0
177,0,1,female,50.00,0,0,28.7125,C,C,251.0
331,0,1,male,45.50,0,0,28.5000,S,C,252.0
360,0,3,male,40.00,1,4,27.9000,S,NaN,253.0
642,0,3,female,2.00,3,2,27.9000,S,NaN,253.0
63,0,3,male,4.00,3,2,27.9000,S,NaN,253.0
819,0,3,male,10.00,3,2,27.9000,S,NaN,253.0
634,0,3,female,9.00,3,2,27.9000,S,NaN,253.0
167,0,3,female,45.00,1,4,27.9000,S,NaN,253.0
472,1,2,female,33.00,1,2,27.7500,S,NaN,259.0
450,0,2,male,36.00,1,2,27.7500,S,NaN,259.0
452,0,1,male,30.00,0,0,27.7500,C,C,259.0
58,1,2,female,5.00,1,2,27.7500,S,NaN,259.0
361,0,2,male,29.00,1,0,27.7208,C,NaN,263.0
194,1,1,female,44.00,0,0,27.7208,C,B,263.0
295,0,1,male,NaN,0,0,27.7208,C,NaN,263.0
64,0,1,male,NaN,0,0,27.7208,C,NaN,263.0
30,0,1,male,40.00,0,0,27.7208,C,NaN,263.0
217,0,2,male,42.00,1,0,27.0000,S,NaN,268.0
600,1,2,female,24.00,2,1,27.0000,S,NaN,268.0
507,1,1,male,NaN,0,0,26.5500,S,NaN,270.0
467,0,1,male,56.00,0,0,26.5500,S,NaN,270.0
430,1,1,male,28.00,0,0,26.5500,S,C,270.0
711,0,1,male,NaN,0,0,26.5500,S,C,270.0
460,1,1,male,48.00,0,0,26.5500,S,E,270.0
456,0,1,male,65.00,0,0,26.5500,S,E,270.0
187,1,1,male,45.00,0,0,26.5500,S,NaN,270.0
11,1,1,female,58.00,0,0,26.5500,S,C,270.0
447,1,1,male,34.00,0,0,26.5500,S,NaN,270.0
555,0,1,male,62.00,0,0,26.5500,S,NaN,270.0
857,1,1,male,51.00,0,0,26.5500,S,E,270.0
694,0,1,male,60.00,0,0,26.5500,S,NaN,270.0
536,0,1,male,45.00,0,0,26.5500,S,B,270.0
252,0,1,male,62.00,0,0,26.5500,S,C,270.0
604,1,1,male,35.00,0,0,26.5500,C,NaN,270.0
572,1,1,male,36.00,0,0,26.3875,S,E,285.0
707,1,1,male,42.00,0,0,26.2875,S,E,286.0
512,1,1,male,36.00,0,0,26.2875,S,E,286.0
701,1,1,male,35.00,0,0,26.2875,S,E,286.0
136,1,1,female,19.00,0,2,26.2833,S,D,289.0
237,1,2,female,8.00,0,2,26.2500,S,NaN,290.0
801,1,2,female,31.00,1,1,26.2500,S,NaN,290.0
535,1,2,female,7.00,0,2,26.2500,S,NaN,290.0
314,0,2,male,43.00,1,1,26.2500,S,NaN,290.0
440,1,2,female,45.00,1,1,26.2500,S,NaN,290.0
637,0,2,male,31.00,1,1,26.2500,S,NaN,290.0
705,0,2,male,39.00,0,0,26.0000,S,NaN,296.0
316,1,2,female,24.00,1,0,26.0000,S,NaN,296.0
312,0,2,female,26.00,1,1,26.0000,S,NaN,296.0
426,1,2,female,28.00,1,0,26.0000,S,NaN,296.0
530,1,2,female,2.00,1,1,26.0000,S,NaN,296.0
148,0,2,male,36.50,0,2,26.0000,S,F,296.0
551,0,2,male,27.00,0,0,26.0000,S,NaN,296.0
133,1,2,female,29.00,1,0,26.0000,S,NaN,296.0
791,0,2,male,16.00,0,0,26.0000,S,NaN,296.0
20,0,2,male,35.00,0,0,26.0000,S,NaN,296.0
543,1,2,male,32.00,1,0,26.0000,S,NaN,296.0
397,0,2,male,46.00,0,0,26.0000,S,NaN,296.0
545,0,1,male,64.00,0,0,26.0000,S,NaN,296.0
340,1,2,male,2.00,1,1,26.0000,S,F,296.0
427,1,2,female,19.00,0,0,26.0000,S,NaN,296.0
99,0,2,male,34.00,1,0,26.0000,S,NaN,296.0
432,1,2,female,42.00,1,0,26.0000,S,NaN,296.0
284,0,1,male,NaN,0,0,26.0000,S,A,296.0
249,0,2,male,54.00,1,0,26.0000,S,NaN,296.0
854,0,2,female,44.00,1,0,26.0000,S,NaN,296.0
193,1,2,male,3.00,1,1,26.0000,S,F,296.0
594,0,2,male,37.00,1,0,26.0000,S,NaN,296.0
880,1,2,female,25.00,0,1,26.0000,S,NaN,296.0
728,0,2,male,25.00,1,0,26.0000,S,NaN,296.0
259,1,2,female,50.00,0,1,26.0000,S,NaN,296.0
236,0,2,male,44.00,1,0,26.0000,S,NaN,296.0
506,1,2,female,33.00,0,2,26.0000,S,NaN,296.0
582,0,2,male,54.00,0,0,26.0000,S,NaN,296.0
518,1,2,female,36.00,1,0,26.0000,S,NaN,296.0
53,1,2,female,29.00,1,0,26.0000,S,NaN,296.0
546,1,2,female,19.00,1,0,26.0000,S,NaN,296.0
796,1,1,female,49.00,0,0,25.9292,S,D,327.0
862,1,1,female,48.00,0,0,25.9292,S,D,327.0
168,0,1,male,NaN,0,0,25.9250,S,NaN,329.0
662,0,1,male,47.00,0,0,25.5875,S,E,330.0
409,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
229,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
176,0,3,male,NaN,3,1,25.4667,S,NaN,331.0
485,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
799,0,3,female,30.00,1,1,24.1500,S,NaN,335.0
109,1,3,female,NaN,1,0,24.1500,Q,NaN,335.0
811,0,3,male,39.00,0,0,24.1500,S,NaN,335.0
419,0,3,female,10.00,0,2,24.1500,S,NaN,335.0
768,0,3,male,NaN,1,0,24.1500,Q,NaN,335.0
595,0,3,male,36.00,1,1,24.1500,S,NaN,335.0
565,0,3,male,24.00,2,0,24.1500,S,NaN,335.0
517,0,3,male,NaN,0,0,24.1500,Q,NaN,335.0
874,1,2,female,28.00,1,0,24.0000,C,NaN,343.0
308,0,2,male,30.00,1,0,24.0000,C,NaN,343.0
783,0,3,male,NaN,1,2,23.4500,S,NaN,345.0
888,0,3,female,NaN,1,2,23.4500,S,NaN,345.0
330,1,3,female,NaN,2,0,23.2500,Q,NaN,347.0
301,1,3,male,NaN,2,0,23.2500,Q,NaN,347.0
651,1,2,female,18.00,0,1,23.0000,S,NaN,349.0
750,1,2,female,4.00,1,1,23.0000,S,NaN,349.0
774,1,2,female,54.00,1,3,23.0000,S,NaN,349.0
98,1,2,female,34.00,0,1,23.0000,S,NaN,349.0
508,0,3,male,28.00,0,0,22.5250,S,NaN,353.0
128,1,3,female,NaN,1,1,22.3583,C,F,354.0
533,1,3,female,NaN,0,2,22.3583,C,NaN,354.0
184,1,3,female,4.00,0,2,22.0250,S,NaN,356.0
48,0,3,male,NaN,2,0,21.6792,C,NaN,357.0
567,0,3,female,29.00,0,4,21.0750,S,NaN,358.0
374,0,3,female,3.00,3,1,21.0750,S,NaN,358.0
7,0,3,male,2.00,3,1,21.0750,S,NaN,358.0
24,0,3,female,8.00,3,1,21.0750,S,NaN,358.0
476,0,2,male,34.00,1,0,21.0000,S,NaN,362.0
211,1,2,female,35.00,0,0,21.0000,S,NaN,362.0
405,0,2,male,34.00,1,0,21.0000,S,NaN,362.0
726,1,2,female,30.00,3,0,21.0000,S,NaN,362.0
117,0,2,male,29.00,1,0,21.0000,S,NaN,362.0
41,0,2,female,27.00,1,0,21.0000,S,NaN,362.0
788,1,3,male,1.00,1,2,20.5750,S,NaN,368.0
93,0,3,male,26.00,1,2,20.5750,S,NaN,368.0
165,1,3,male,9.00,0,2,20.5250,S,NaN,370.0
328,1,3,female,31.00,1,1,20.5250,S,NaN,370.0
548,0,3,male,33.00,1,1,20.5250,S,NaN,370.0
746,0,3,male,16.00,1,1,20.2500,S,NaN,373.0
279,1,3,female,35.00,1,1,20.2500,S,NaN,373.0
254,0,3,female,41.00,0,2,20.2125,S,NaN,375.0
424,0,3,male,18.00,1,1,20.2125,S,NaN,375.0
490,0,3,male,NaN,1,0,19.9667,S,NaN,377.0
451,0,3,male,NaN,1,0,19.9667,S,NaN,377.0
446,1,2,female,13.00,0,1,19.5000,S,NaN,379.0
272,1,2,female,41.00,0,1,19.5000,S,NaN,379.0
858,1,3,female,24.00,0,3,19.2583,C,NaN,381.0
644,1,3,female,0.75,2,1,19.2583,C,NaN,381.0
469,1,3,female,0.75,2,1,19.2583,C,NaN,381.0
448,1,3,female,5.00,2,1,19.2583,C,NaN,381.0
207,1,3,male,26.00,0,0,18.7875,C,NaN,385.0
731,0,3,male,11.00,0,0,18.7875,C,NaN,385.0
831,1,2,male,0.83,1,1,18.7500,S,NaN,387.0
407,1,2,male,3.00,1,1,18.7500,S,NaN,387.0
437,1,2,female,24.00,2,3,18.7500,S,NaN,387.0
333,0,3,male,16.00,2,0,18.0000,S,NaN,390.0
18,0,3,female,31.00,1,0,18.0000,S,NaN,390.0
38,0,3,female,18.00,2,0,18.0000,S,NaN,390.0
353,0,3,male,25.00,1,0,17.8000,S,NaN,393.0
49,0,3,female,18.00,1,0,17.8000,S,NaN,393.0
559,1,3,female,36.00,1,0,17.4000,S,NaN,395.0
10,1,3,female,4.00,1,1,16.7000,S,G,396.0
394,1,3,female,24.00,0,2,16.7000,S,G,396.0
431,1,3,female,NaN,1,0,16.1000,S,NaN,398.0
347,1,3,female,NaN,1,0,16.1000,S,NaN,398.0
617,0,3,female,26.00,1,0,16.1000,S,NaN,398.0
639,0,3,male,NaN,1,0,16.1000,S,NaN,398.0
160,0,3,male,44.00,0,1,16.1000,S,NaN,398.0
253,0,3,male,30.00,1,0,16.1000,S,NaN,398.0
624,0,3,male,21.00,0,0,16.1000,S,NaN,398.0
743,0,3,male,24.00,1,0,16.1000,S,NaN,398.0
735,0,3,male,28.50,0,0,16.1000,S,NaN,398.0
15,1,2,female,55.00,0,0,16.0000,S,NaN,407.0
489,1,3,male,9.00,1,1,15.9000,S,NaN,408.0
348,1,3,male,3.00,1,1,15.9000,S,NaN,408.0
206,0,3,male,32.00,1,0,15.8500,S,NaN,410.0
142,1,3,female,24.00,1,0,15.8500,S,NaN,410.0
85,1,3,female,33.00,3,0,15.8500,S,NaN,410.0
403,0,3,male,28.00,1,0,15.8500,S,NaN,410.0
161,1,2,female,40.00,0,0,15.7500,S,NaN,414.0
622,1,3,male,20.00,1,1,15.7417,C,NaN,415.0
381,1,3,female,1.00,0,2,15.7417,C,NaN,415.0
605,0,3,male,36.00,1,0,15.5500,S,NaN,417.0
241,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
612,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
718,0,3,male,NaN,0,0,15.5000,Q,NaN,418.0
186,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
657,0,3,female,32.00,1,1,15.5000,Q,NaN,418.0
364,0,3,male,NaN,1,0,15.5000,Q,NaN,418.0
188,0,3,male,40.00,1,1,15.5000,Q,NaN,418.0
46,0,3,male,NaN,1,0,15.5000,Q,NaN,418.0
140,0,3,female,NaN,0,2,15.2458,C,NaN,426.0
65,1,3,male,NaN,1,1,15.2458,C,NaN,426.0
852,0,3,female,9.00,1,1,15.2458,C,NaN,426.0
255,1,3,female,29.00,0,2,15.2458,C,NaN,426.0
709,1,3,male,NaN,1,1,15.2458,C,NaN,426.0
497,0,3,male,NaN,0,0,15.1000,S,NaN,431.0
181,0,2,male,NaN,0,0,15.0500,C,NaN,432.0
135,0,2,male,23.00,0,0,15.0458,C,NaN,433.0
586,0,2,male,47.00,0,0,15.0000,S,NaN,434.0
755,1,2,male,0.67,1,1,14.5000,S,NaN,435.0
575,0,3,male,19.00,0,0,14.5000,S,NaN,435.0
247,1,2,female,24.00,0,2,14.5000,S,NaN,435.0
538,0,3,male,NaN,0,0,14.5000,S,NaN,435.0
760,0,3,male,NaN,0,0,14.5000,S,NaN,435.0
153,0,3,male,40.50,0,2,14.5000,S,NaN,435.0
132,0,3,female,47.00,1,0,14.5000,S,NaN,435.0
495,0,3,male,NaN,0,0,14.4583,C,NaN,442.0
114,0,3,female,17.00,0,0,14.4583,C,NaN,442.0
578,0,3,female,NaN,1,0,14.4583,C,NaN,442.0
620,0,3,male,27.00,1,0,14.4542,C,NaN,445.0
830,1,3,female,15.00,1,0,14.4542,C,NaN,445.0
362,0,3,female,45.00,0,1,14.4542,C,NaN,445.0
73,0,3,male,26.00,1,0,14.4542,C,NaN,445.0
111,0,3,female,14.50,1,0,14.4542,C,NaN,445.0
240,0,3,female,NaN,1,0,14.4542,C,NaN,445.0
702,0,3,female,18.00,0,1,14.4542,C,NaN,445.0
616,0,3,male,34.00,1,1,14.4000,S,NaN,452.0
423,0,3,female,28.00,1,1,14.4000,S,NaN,452.0
860,0,3,male,41.00,2,0,14.1083,S,NaN,454.0
317,0,2,male,54.00,0,0,14.0000,S,NaN,455.0
547,1,2,male,NaN,0,0,13.8625,C,NaN,456.0
866,1,2,female,27.00,1,0,13.8583,C,NaN,457.0
473,1,2,female,23.00,0,0,13.7917,C,D,458.0
562,0,2,male,28.00,0,0,13.5000,S,NaN,459.0
695,0,2,male,52.00,0,0,13.5000,S,NaN,459.0
232,0,2,male,59.00,0,0,13.5000,S,NaN,459.0
706,1,2,female,45.00,0,0,13.5000,S,NaN,459.0
691,1,3,female,4.00,0,1,13.4167,C,NaN,463.0
733,0,2,male,23.00,0,0,13.0000,S,NaN,464.0
800,0,2,male,34.00,0,0,13.0000,S,NaN,464.0
191,0,2,male,19.00,0,0,13.0000,S,NaN,464.0
865,1,2,female,42.00,0,0,13.0000,S,NaN,464.0
734,0,2,male,23.00,0,0,13.0000,S,NaN,464.0
221,0,2,male,27.00,0,0,13.0000,S,NaN,464.0

In [320]:
titanic.drop(columns = "fare_rank", inplace= True)

### nunique(), nlargest() and nsmallest() with DataFrames

In [321]:
import pandas as pd

In [322]:
titanic = pd.read_csv("titanic.csv")

In [323]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [324]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [325]:
titanic.age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [326]:
titanic.nunique(axis = 1, dropna=False)

0      8
1      6
2      8
3      7
4      7
5      6
6      7
7      8
8      9
9      8
10     7
11     7
12     7
13     9
14     7
15     8
16     9
17     7
18     8
19     7
20     7
21     8
22     8
23     7
24     8
25     8
26     6
27     9
28     7
29     6
30     7
31     7
32     7
33     7
34     7
35     7
36     7
37     7
38     7
39     8
40     8
41     8
42     6
43     7
44     8
45     6
46     7
47     7
48     7
49     8
50     9
51     7
52     7
53     8
54     7
55     7
56     8
57     7
58     7
59     9
60     7
61     7
62     7
63     8
64     6
65     6
66     8
67     7
68     9
69     8
70     7
71     9
72     7
73     8
74     8
75     7
76     6
77     6
78     8
79     8
80     7
81     8
82     7
83     7
84     8
85     8
86     8
87     6
88     8
89     7
90     7
91     7
92     7
93     9
94     7
95     6
96     7
97     7
98     8
99     8
100    7
101    6
102    7
103    7
104    8
105    7
106    8
107    7
108    7
109    7
110    7
111    8
112    7
113    8
114    7
115    7
116    7
117    8
118    7
119    8
120    7
121    6
122    8
123    8
124    7
125    8
126    6
127    8
128    7
129    7
130    7
131    7
132    8
133    8
134    7
135    7
136    8
137    7
138    7
139    7
140    7
141    8
142    8
143    7
144    7
145    8
146    8
147    8
148    7
149    7
150    7
151    7
152    7
153    8
154    6
155    7
156    8
157    7
158    6
159    8
160    8
161    8
162    7
163    7
164    8
165    9
166    7
167    9
168    6
169    7
170    7
171    8
172    6
173    7
174    7
175    8
176    7
177    6
178    7
179    6
180    8
181    6
182    9
183    6
184    9
185    7
186    7
187    7
188    8
189    7
190    8
191    7
192    8
193    7
194    7
195    7
196    6
197    8
198    7
199    7
200    7
201    8
202    7
203    7
204    8
205    8
206    8
207    8
208    8
209    7
210    7
211    8
212    7
213    7
214    7
215    7
216    8
217    8
218    7
219    7
220    8
221    7
222    7
223    6
224    7
225    7
226    8
227    7
228    7
229    7
230    7
231    7
232    7
233    9
234    7
235    6
236    8
237    8
238    7
239    7
240    7
241    7
242    7
243    7
244    7
245    8
246    7
247    8
248    6
249    8
250    6
251    8
252    7
253    8
254    8
255    9
256    6
257    7
258    7
259    8
260    6
261    8
262    7
263    6
264    6
265    7
266    9
267    8
268    7
269    7
270    6
271    7
272    8
273    6
274    7
275    7
276    7
277    5
278    9
279    7
280    7
281    7
282    7
283    8
284    7
285    7
286    8
287    7
288    8
289    8
290    7
291    7
292    7
293    7
294    7
295    6
296    7
297    7
298    7
299    7
300    7
301    8
302    6
303    8
304    6
305    7
306    6
307    6
308    8
309    7
310    6
311    7
312    7
313    7
314    8
315    8
316    8
317    7
318    8
319    6
320    7
321    7
322    8
323    7
324    8
325    6
326    7
327    8
328    7
329    7
330    8
331    7
332    7
333    8
334    6
335    6
336    7
337    7
338    8
339    7
340    6
341    8
342    7
343    7
344    7
345    8
346    8
347    7
348    6
349    7
350    7
351    7
352    8
353    8
354    6
355    7
356    7
357    7
358    7
359    7
360    9
361    8
362    8
363    7
364    7
365    7
366    7
367    7
368    7
369    7
370    7
371    8
372    7
373    7
374    7
375    6
376    8
377    7
378    7
379    7
380    7
381    8
382    7
383    7
384    6
385    7
386    9
387    8
388    6
389    8
390    7
391    8
392    8
393    7
394    9
395    7
396    7
397    7
398    7
399    8
400    8
401    7
402    8
403    8
404    7
405    8
406    7
407    7
408    7
409    7
410    6
411    6
412    7
413    5
414    8
415    6
416    7
417    8
418    7
419    8
420    6
421    7
422    7
423    8
424    8
425    6
426    8
427    8
428    6
429    8
430    7
431    7
432    8
433    7
434    7
435    7
436    8
437    8
438    8
439    7
440    7
441    7
442    8
443    8
444    7
445    8
446    8
447    7
448    8
449    7
450    8
451    7
452    6
453    6
454    6
455    8
456    7
457    7
458    8
459    6
460    7
461    7
462    7
463    7
464    6
465    7
466    5
467    7
468    6
469    8
470    6
471    7
472    7
473    8
474    7
475    7
476    8
477    8
478    7
479    8
480    9
481    5
482    7
483    8
484    7
485    7
486    7
487    7
488    7
489    7
490    7
491    7
492    7
493    7
494    7
495    6
496    7
497    6
498    8
499    7
500    7
501    7
502    6
503    7
504    7
505    6
506    8
507    6
508    7
509    8
510    8
511    6
512    7
513    7
514    7
515    7
516    8
517    6
518    8
519    7
520    7
521    7
522    6
523    7
524    6
525    7
526    8
527    7
528    7
529    8
530    6
531    6
532    8
533    8
534    7
535    8
536    7
537    7
538    6
539    8
540    8
541    9
542    9
543    8
544    6
545    7
546    8
547    7
548    8
549    7
550    7
551    7
552    6
553    8
554    8
555    7
556    7
557    6
558    6
559    8
560    6
561    7
562    7
563    6
564    6
565    8
566    7
567    8
568    6
569    8
570    8
571    8
572    7
573    7
574    7
575    7
576    8
577    7
578    7
579    8
580    7
581    5
582    7
583    7
584    6
585    8
586    7
587    6
588    7
589    6
590    7
591    7
592    7
593    7
594    8
595    8
596    7
597    6
598    6
599    7
600    7
601    6
602    6
603    7
604    7
605    8
606    7
607    7
608    7
609    7
610    9
611    6
612    7
613    6
614    7
615    7
616    8
617    8
618    7
619    7
620    8
621    7
622    7
623    7
624    7
625    7
626    7
627    7
628    7
629    6
630    7
631    7
632    7
633    5
634    8
635    8
636    7
637    8
638    8
639    7
640    7
641    7
642    7
643    7
644    8
645    7
646    7
647    7
648    6
649    8
650    6
651    8
652    7
653    7
654    7
655    7
656    6
657    8
658    7
659    8
660    8
661    7
662    7
663    7
664    8
665    7
666    7
667    6
668    7
669    7
670    7
671    7
672    7
673    8
674    5
675    7
676    7
677    8
678    9
679    7
680    6
681    7
682    7
683    9
684    8
685    8
686    9
687    7
688    7
689    7
690    7
691    8
692    7
693    7
694    7
695    7
696    7
697    7
698    6
699    7
700    6
701    7
702    8
703    7
704    8
705    7
706    8
707    7
708    7
709    6
710    6
711    7
712    7
713    7
714    7
715    7
716    6
717    8
718    6
719    7
720    8
721    8
722    7
723    7
724    7
725    7
726    9
727    7
728    8
729    8
730    7
731    7
732    5
733    7
734    7
735    7
736    8
737    7
738    6
739    6
740    7
741    7
742    7
743    8
744    8
745    7
746    8
747    8
748    7
749    7
750    7
751    8
752    7
753    7
754    7
755    7
756    7
757    7
758    7
759    7
760    6
761    7
762    8
763    7
764    7
765    7
766    6
767    7
768    7
769    7
770    7
771    7
772    7
773    6
774    8
775    7
776    7
777    8
778    6
779    7
780    8
781    7
782    7
783    8
784    7
785    7
786    8
787    9
788    7
789    7
790    6
791    7
792    8
793    6
794    7
795    7
796    7
797    8
798    7
799    8
800    7
801    7
802    7
803    8
804    8
805    7
806    6
807    7
808    7
809    7
810    7
811    7
812    7
813    9
814    7
815    6
816    7
817    8
818    7
819    8
820    6
821    8
822    6
823    8
824    9
825    6
826    6
827    7
828    7
829    7
830    8
831    7
832    6
833    7
834    7
835    6
836    7
837    6
838    8
839    6
840    7
841    7
842    7
843    7
844    7
845    7
846    8
847    7
848    8
849    6
850    8
851    7
852    8
853    7
854    8
855    8
856    6
857    7
858    8
859    6
860    8
861    8
862    7
863    8
864    7
865    8
866    8
867    7
868    6
869    7
870    7
871    6
872    7
873    7
874    8
875    8
876    7
877    7
878    6
879    6
880    8
881    7
882    7
883    7
884    7
885    8
886    7
887    7
888    8
889    6
890    7
dtype: int64

In [327]:
titanic.nunique(dropna = False)

survived      2
pclass        3
sex           2
age          89
sibsp         7
parch         7
fare        248
embarked      4
deck          8
dtype: int64

In [328]:
titanic.nlargest(n = 5, columns = "fare")

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
258         1       1  female  35.0      0      0  512.3292        C  NaN
679         1       1    male  36.0      0      1  512.3292        C    B
737         1       1    male  35.0      0      0  512.3292        C    B
27          0       1    male  19.0      3      2  263.0000        S    C
88          1       1  female  23.0      3      2  263.0000        S    C

In [329]:
titanic.sort_values("fare", ascending = False).head(5)

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
258         1       1  female  35.0      0      0  512.3292        C  NaN
737         1       1    male  35.0      0      0  512.3292        C    B
679         1       1    male  36.0      0      1  512.3292        C    B
88          1       1  female  23.0      3      2  263.0000        S    C
27          0       1    male  19.0      3      2  263.0000        S    C

In [330]:
titanic.nsmallest(n = 1, columns = "age")

     survived  pclass   sex   age  sibsp  parch    fare embarked deck
803         1       3  male  0.42      0      1  8.5167        C  NaN

In [331]:
titanic.loc[titanic.age.idxmin()]

survived         1
pclass           3
sex           male
age           0.42
sibsp            0
parch            1
fare        8.5167
embarked         C
deck           NaN
Name: 803, dtype: object

### Summary Statistics and Accumulations

In [332]:
import pandas as pd

In [333]:
titanic = pd.read_csv("titanic.csv")

In [334]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [335]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [336]:
titanic.count(axis = "index")

survived    891
pclass      891
sex         891
age         714
sibsp       891
parch       891
fare        891
embarked    889
deck        203
dtype: int64

In [337]:
titanic.count(axis = 1)

0      8
1      9
2      8
3      9
4      8
5      7
6      9
7      8
8      8
9      8
10     9
11     9
12     8
13     8
14     8
15     8
16     8
17     7
18     8
19     7
20     8
21     9
22     8
23     9
24     8
25     8
26     7
27     9
28     7
29     7
30     8
31     8
32     7
33     8
34     8
35     8
36     7
37     8
38     8
39     8
40     8
41     8
42     7
43     8
44     8
45     7
46     7
47     7
48     7
49     8
50     8
51     8
52     9
53     8
54     9
55     8
56     8
57     8
58     8
59     8
60     8
61     8
62     9
63     8
64     7
65     7
66     9
67     8
68     8
69     8
70     8
71     8
72     8
73     8
74     8
75     9
76     7
77     7
78     8
79     8
80     8
81     8
82     7
83     8
84     8
85     8
86     8
87     7
88     9
89     8
90     8
91     8
92     9
93     8
94     8
95     7
96     9
97     9
98     8
99     8
100    8
101    7
102    9
103    8
104    8
105    8
106    8
107    7
108    8
109    7
110    9
111    8
112    8
113    8
114    8
115    8
116    8
117    8
118    9
119    8
120    8
121    7
122    8
123    9
124    9
125    8
126    7
127    8
128    8
129    8
130    8
131    8
132    8
133    8
134    8
135    8
136    9
137    9
138    8
139    9
140    7
141    8
142    8
143    8
144    8
145    8
146    8
147    8
148    9
149    8
150    8
151    9
152    8
153    8
154    7
155    8
156    8
157    8
158    7
159    7
160    8
161    8
162    8
163    8
164    8
165    8
166    8
167    8
168    7
169    8
170    9
171    8
172    8
173    8
174    9
175    8
176    7
177    9
178    8
179    8
180    7
181    7
182    8
183    9
184    8
185    8
186    7
187    8
188    8
189    8
190    8
191    8
192    8
193    9
194    9
195    9
196    7
197    8
198    7
199    8
200    8
201    7
202    8
203    8
204    8
205    9
206    8
207    8
208    8
209    9
210    8
211    8
212    8
213    8
214    7
215    9
216    8
217    8
218    9
219    8
220    8
221    8
222    8
223    7
224    9
225    8
226    8
227    8
228    8
229    7
230    9
231    8
232    8
233    8
234    8
235    7
236    8
237    8
238    8
239    8
240    7
241    7
242    8
243    8
244    8
245    9
246    8
247    8
248    9
249    8
250    7
251    9
252    9
253    8
254    8
255    8
256    7
257    9
258    8
259    8
260    7
261    8
262    9
263    9
264    7
265    8
266    8
267    8
268    9
269    9
270    7
271    8
272    8
273    9
274    7
275    9
276    8
277    7
278    8
279    8
280    8
281    8
282    8
283    8
284    8
285    8
286    8
287    8
288    8
289    8
290    8
291    9
292    9
293    8
294    8
295    7
296    8
297    9
298    8
299    9
300    7
301    7
302    8
303    8
304    7
305    9
306    7
307    9
308    8
309    9
310    9
311    9
312    8
313    8
314    8
315    8
316    8
317    8
318    9
319    9
320    8
321    8
322    8
323    8
324    7
325    9
326    8
327    9
328    8
329    9
330    7
331    9
332    9
333    8
334    7
335    7
336    9
337    9
338    8
339    8
340    9
341    9
342    8
343    8
344    8
345    9
346    8
347    7
348    8
349    8
350    8
351    8
352    8
353    8
354    7
355    8
356    9
357    8
358    7
359    7
360    8
361    8
362    8
363    8
364    7
365    8
366    9
367    7
368    7
369    9
370    9
371    8
372    8
373    8
374    8
375    7
376    8
377    9
378    8
379    8
380    8
381    8
382    8
383    8
384    7
385    8
386    8
387    8
388    7
389    8
390    9
391    8
392    8
393    9
394    9
395    8
396    8
397    8
398    8
399    8
400    8
401    8
402    8
403    8
404    8
405    8
406    8
407    8
408    8
409    7
410    7
411    7
412    9
413    7
414    8
415    7
416    8
417    8
418    8
419    8
420    7
421    8
422    8
423    8
424    8
425    7
426    8
427    8
428    7
429    9
430    9
431    7
432    8
433    8
434    9
435    9
436    8
437    8
438    9
439    8
440    8
441    8
442    8
443    8
444    7
445    9
446    8
447    8
448    8
449    9
450    8
451    7
452    9
453    9
454    7
455    8
456    9
457    8
458    8
459    7
460    9
461    8
462    9
463    8
464    7
465    8
466    7
467    8
468    7
469    8
470    7
471    8
472    8
473    9
474    8
475    8
476    8
477    8
478    8
479    8
480    8
481    7
482    8
483    8
484    9
485    7
486    9
487    9
488    8
489    8
490    7
491    8
492    9
493    8
494    8
495    7
496    9
497    7
498    9
499    8
500    8
501    8
502    7
503    8
504    9
505    9
506    8
507    7
508    8
509    8
510    8
511    7
512    9
513    8
514    8
515    9
516    9
517    7
518    8
519    8
520    9
521    8
522    7
523    9
524    7
525    8
526    8
527    8
528    8
529    8
530    8
531    7
532    8
533    7
534    8
535    8
536    9
537    8
538    7
539    9
540    9
541    8
542    8
543    8
544    9
545    8
546    8
547    7
548    8
549    8
550    9
551    8
552    7
553    8
554    8
555    8
556    9
557    7
558    9
559    8
560    7
561    8
562    8
563    7
564    7
565    8
566    8
567    8
568    7
569    8
570    8
571    9
572    9
573    7
574    8
575    8
576    8
577    9
578    7
579    8
580    8
581    9
582    8
583    9
584    7
585    9
586    8
587    9
588    8
589    7
590    8
591    9
592    8
593    7
594    8
595    8
596    7
597    8
598    7
599    9
600    8
601    7
602    7
603    8
604    8
605    8
606    8
607    8
608    8
609    9
610    8
611    7
612    7
613    7
614    8
615    8
616    8
617    8
618    9
619    8
620    8
621    9
622    8
623    8
624    8
625    9
626    8
627    9
628    8
629    7
630    9
631    8
632    9
633    7
634    8
635    8
636    8
637    8
638    8
639    7
640    8
641    9
642    8
643    7
644    8
645    9
646    8
647    9
648    7
649    8
650    7
651    8
652    8
653    7
654    8
655    8
656    7
657    8
658    8
659    9
660    8
661    8
662    9
663    8
664    8
665    8
666    8
667    7
668    8
669    8
670    8
671    9
672    8
673    8
674    7
675    8
676    8
677    8
678    8
679    9
680    7
681    9
682    8
683    8
684    8
685    8
686    8
687    8
688    8
689    9
690    9
691    8
692    7
693    8
694    8
695    8
696    8
697    7
698    9
699    9
700    9
701    9
702    8
703    8
704    8
705    8
706    8
707    9
708    8
709    7
710    9
711    8
712    9
713    8
714    8
715    9
716    9
717    9
718    7
719    8
720    8
721    8
722    8
723    8
724    9
725    8
726    8
727    7
728    8
729    8
730    9
731    8
732    7
733    8
734    8
735    8
736    8
737    9
738    7
739    7
740    8
741    9
742    9
743    8
744    8
745    9
746    8
747    8
748    9
749    8
750    8
751    9
752    8
753    8
754    8
755    8
756    8
757    8
758    8
759    9
760    7
761    8
762    8
763    9
764    8
765    9
766    7
767    8
768    7
769    8
770    8
771    8
772    9
773    7
774    8
775    8
776    8
777    8
778    7
779    9
780    8
781    9
782    9
783    7
784    8
785    8
786    8
787    8
788    8
789    9
790    7
791    8
792    7
793    7
794    8
795    8
796    9
797    8
798    8
799    8
800    8
801    8
802    9
803    8
804    8
805    8
806    9
807    8
808    8
809    9
810    8
811    8
812    8
813    8
814    8
815    8
816    8
817    8
818    8
819    8
820    9
821    8
822    8
823    9
824    8
825    7
826    7
827    8
828    7
829    8
830    8
831    8
832    7
833    8
834    8
835    9
836    8
837    7
838    8
839    8
840    8
841    8
842    8
843    8
844    8
845    8
846    7
847    8
848    8
849    8
850    8
851    8
852    8
853    9
854    8
855    8
856    8
857    9
858    8
859    7
860    8
861    8
862    9
863    7
864    8
865    8
866    8
867    9
868    7
869    8
870    8
871    9
872    9
873    8
874    8
875    8
876    8
877    8
878    7
879    9
880    8
881    8
882    8
883    8
884    8
885    8
886    8
887    9
888    7
889    9
890    8
dtype: int64

In [338]:
titanic.mean(axis = 1)

/var/folders/gj/jnywjty93y99mk904fhg73br0000gn/T/ipykernel_4341/3027940238.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  titanic.mean(axis = 1)

0       5.541667
1      18.713883
2       6.320833
3      15.183333
4       7.675000
5       2.291660
6      17.810417
7       5.012500
8       7.355550
9       8.011800
10      4.450000
11     14.425000
12      5.175000
13     13.212500
14      4.142367
15     12.333333
16      6.520833
17      3.200000
18      8.833333
19      2.245000
20     10.500000
21      8.333333
22      4.504867
23     10.916667
24      6.012500
25     13.231250
26      2.045000
27     48.000000
28      2.375840
29      2.179160
30     11.453467
31     29.904160
32      2.350000
33     13.083333
34     18.695133
35     16.000000
36      2.245840
37      5.341667
38      6.833333
39      5.040283
40      8.912500
41      8.500000
42      2.179160
43      8.429867
44      5.146533
45      2.210000
46      3.900000
47      2.350000
48      5.335840
49      6.633333
50      9.114583
51      5.300000
52     21.454867
53      9.833333
54     21.496533
55      7.500000
56      5.750000
57      6.454867
58      6.458333
59     11.316667
60      5.371533
61     20.000000
62     21.745833
63      6.650000
64      5.744160
65      4.249160
66      7.083333
67      5.026383
68      5.820833
69      6.610417
70      7.416667
71     12.150000
72     16.083333
73      7.409033
74     15.415967
75      5.941667
76      2.179160
77      2.210000
78      5.805000
79      7.745833
80      5.666667
81      7.083333
82      2.357500
83     12.683333
84      5.083333
85      9.308333
86      9.562500
87      2.210000
88     48.833333
89      5.841667
90      6.675000
91      5.142367
92     18.195833
93      8.762500
94     11.541667
95      2.210000
96     17.775700
97     14.893050
98     10.166667
99     10.500000
100     6.482633
101     2.179160
102    16.714583
103     7.442367
104     8.320833
105     6.482633
106     5.441667
107     2.355000
108     8.149300
109     5.830000
110    16.666667
111     5.492367
112     5.508333
113     5.637500
114     5.743050
115     5.320833
116    13.541667
117     8.833333
118    45.586800
119     7.045833
120    16.416667
121     2.210000
122    10.928467
123     8.083333
124    22.214583
125     4.706950
126     2.150000
127     5.856950
128     5.671660
129     9.162500
130     7.315967
131     5.008333
132    10.916667
133     9.833333
134     6.666667
135     6.674300
136     8.213883
137    15.350000
138     4.702783
139    17.366667
140     4.049160
141     5.625000
142     7.475000
143     4.791667
144     5.250000
145     9.958333
146     6.465967
147     8.395833
148    11.083333
149     9.500000
150    10.920833
151    15.266667
152    11.091667
153    10.000000
154     2.062500
155    19.063200
156     4.622217
157     6.841667
158     2.332500
159    16.510000
160    10.683333
161     9.791667
162     6.129167
163     4.777083
164     8.114583
165     5.920833
166    11.600000
167    13.483333
168     5.385000
169    14.582633
170    15.916667
171     6.854167
172     3.022217
173     5.320833
174    14.615967
175     5.142367
176     6.493340
177    13.285417
178     7.500000
179     6.500000
180    16.510000
181     3.410000
182     8.231250
183     7.666667
184     5.337500
185    10.200000
186     4.100000
187    12.258333
188    10.083333
189     7.815967
190     8.000000
191     5.666667
192     5.309033
193     5.666667
194    12.286800
195    34.420133
196     2.150000
197     9.067367
198     2.350000
199     6.500000
200     6.750000
201    16.510000
202     7.249300
203     9.287500
204     5.008333
205     2.743750
206     8.641667
207     8.131250
208     4.625000
209    12.166667
210     5.675000
211     9.833333
212     5.375000
213     7.500000
214     2.350000
215    24.545833
216     6.487500
217    12.000000
218    18.381950
219     7.083333
220     4.675000
221     7.000000
222    10.341667
223     2.179160
224    21.833333
225     5.725000
226     5.416667
227     5.125000
228     5.500000
229     6.493340
230    20.245833
231     6.629167
232    12.416667
233     7.731250
234     6.083333
235     2.110000
236    12.166667
237     6.541667
238     5.250000
239     7.879167
240     3.690840
241     4.100000
242     6.916667
243     5.354167
244     6.704167
245    22.833333
246     5.962500
247     7.250000
248    15.592367
249    13.833333
250     2.050000
251     7.410417
252    14.925000
253     8.350000
254    11.035417
255     8.374300
256    16.240000
257    19.750000
258    91.554867
259    13.333333
260     2.150000
261     7.397917
262    22.441667
263     6.833333
264     2.150000
265     8.083333
266    10.614583
267     6.295833
268    35.743750
269    28.772217
270     6.400000
271     4.833333
272    10.750000
273    11.450000
274     2.350000
275    23.993050
276     9.291667
277     0.400000
278     7.354167
279    10.208333
280    12.625000
281     6.475700
282     4.750000
283     5.175000
284     5.400000
285     7.443750
286     7.250000
287     5.482633
288     9.666667
289     5.625000
290    17.808333
291    18.846533
292     8.479167
293     5.975000
294     5.815967
295     5.744160
296     5.621533
297    26.258333
298     6.500000
299    50.086800
300     2.350000
301     5.850000
302     3.666667
303     3.070000
304     2.210000
305    26.245000
306    22.576660
307    21.483333
308     9.500000
309    14.821533
310    18.193050
311    47.729167
312     9.333333
313     6.482633
314    12.208333
315     6.309033
316     9.000000
317    11.666667
318    33.311117
319    29.750000
320     5.375000
321     6.315967
322     7.558333
323     9.333333
324    16.510000
325    28.938883
326    11.706250
327     8.666667
328     9.587500
329    12.829867
330     5.850000
331    12.500000
332    32.243750
333     6.500000
334    27.330000
335     2.179160
336    16.266667
337    29.583333
338     9.508333
339    13.583333
340     5.500000
341    49.000000
342     7.166667
343     6.666667
344     8.500000
345     6.666667
346     9.333333
347     4.220000
348     4.150000
349     8.943750
350     5.870833
351     7.200000
352     4.538200
353     7.800000
354     2.045000
355     6.750000
356    13.333333
357     8.833333
358     2.375840
359     2.375840
360    12.650000
361     9.953467
362    10.575700
363     7.508333
364     3.900000
365     6.708333
366    23.041667
367     2.245840
368     2.350000
369    15.883333
370    13.906950
371     4.749300
372     5.008333
373    26.438883
374     5.179167
375    17.034160
376     5.541667
377    40.250000
378     4.502083
379     4.962500
380    45.254167
381     3.790283
382     7.154167
383    15.000000
384     2.179160
385    15.583333
386     9.650000
387     8.666667
388     2.145840
389     5.333333
390    26.833333
391     5.465967
392     6.820833
393    23.212500
394     7.783333
395     5.465967
396     6.975700
397    12.333333
398     5.916667
399     7.275000
400     8.487500
401     6.175000
402     5.804167
403     7.975000
404     5.277083
405     9.666667
406    10.291667
407     4.458333
408     5.295833
409     6.493340
410     2.179160
411     1.971660
412    21.000000
413     0.400000
414     9.320833
415     2.210000
416    11.916667
417     6.000000
418     7.500000
419     6.525000
420     2.179160
421     5.288883
422     6.645833
423     7.900000
424     7.202083
425     2.050000
426     9.666667
427     8.000000
428     2.150000
429     7.341667
430     9.425000
431     4.220000
432    12.000000
433     4.520833
434    17.983333
435    23.166667
436    10.395833
437     8.458333
438    55.500000
439     7.250000
440    12.708333
441     5.416667
442     6.129167
443     7.333333
444     2.422500
445    14.976383
446     6.083333
447    10.425000
448     5.209717
449    14.083333
450    11.458333
451     4.793340
452     9.791667
453    23.517367
454     2.210000
455     6.815967
456    15.425000
457    10.972500
458    10.583333
459     2.150000
460    12.758333
461     7.508333
462    14.416667
463    10.500000
464     2.210000
465     8.008333
466     0.400000
467    13.925000
468     2.145000
469     4.501383
470     2.050000
471     8.277083
472    11.125000
473     6.631950
474     5.806250
475    10.600000
476     9.666667
477     6.674300
478     5.420133
479     3.214583
480    10.983333
481     0.400000
482    10.175000
483    12.764583
484    19.846533
485     6.493340
486    21.333333
487    14.783333
488     6.841667
489     5.150000
490     4.793340
491     5.208333
492    14.416667
493    20.250700
494     5.341667
495     3.491660
496    22.544450
497     3.620000
498    30.091667
499     5.799300
500     4.777083
501     5.291667
502     2.125840
503     8.264583
504    17.416667
505    21.483333
506    10.666667
507     5.710000
508     8.920833
509    14.415967
510     6.791667
511     2.210000
512    10.714583
513    19.400000
514     5.749300
515    13.670133
516     7.916667
517     5.430000
518    11.000000
519     7.149300
520    20.916667
521     5.482633
522     2.045000
523    17.496533
524     2.045840
525     8.541667
526    10.583333
527    44.555840
528     8.320833
529     6.583333
530     5.500000
531     2.045840
532     4.871533
533     5.671660
534     6.943750
535     6.375000
536    12.091667
537    23.070833
538     3.500000
539    12.583333
540    18.500000
541     8.212500
542     8.545833
543    10.333333
544    26.404167
545    15.166667
546     8.166667
547     3.372500
548     9.754167
549     8.291667
550    21.980550
551     9.166667
552     2.165840
553     5.537500
554     5.629167
555    14.925000
556    15.100000
557    45.705000
558    20.441667
559     9.733333
560     2.150000
561     8.482633
562     7.250000
563     2.210000
564     2.210000
565     8.858333
566     4.982633
567     9.512500
568     2.045840
569     7.309033
570    12.583333
571    18.079867
572    10.731250
573     2.350000
574     4.508333
575     6.083333
576     8.333333
577    16.316667
578     3.691660
579     7.320833
580    10.000000
581    25.647217
582    13.666667
583    12.854167
584     2.342500
585    16.941667
586    10.666667
587    23.866667
588     5.508333
589     2.210000
590     7.520833
591    22.211117
592     9.541667
593     2.550000
594    11.000000
595    10.858333
596     7.200000
597     8.666667
598     2.045000
599    18.154867
600     9.500000
601     2.179160
602     8.680000
603     9.175000
604    10.591667
605     9.258333
606     6.815967
607     9.916667
608    11.596533
609    32.577083
610    13.212500
611     2.010000
612     4.100000
613     2.150000
614     7.675000
615    15.833333
616     8.900000
617     7.683333
618     8.166667
619     6.416667
620     7.575700
621    16.259033
622     6.956950
623     5.309033
624     6.683333
625    15.720133
626    11.891667
627    16.826383
628     6.149300
629     2.146660
630    18.666667
631    10.175700
632    10.750000
633     0.200000
634     7.483333
635     7.333333
636     7.154167
637    10.208333
638    14.781250
639     4.020000
640     5.142367
641    15.883333
642     6.316667
643    12.099160
644     4.501383
645    21.288200
646     4.982633
647    15.583333
648     2.110000
649     5.758333
650     2.179160
651     7.500000
652     5.405550
653     2.365840
654     4.625000
655    16.916667
656     2.179160
657     8.750000
658     6.333333
659    29.045833
660    31.275000
661     8.370833
662    12.264583
663     7.749300
664     5.487500
665    18.250000
666     6.666667
667     2.155000
668     9.008333
669    11.000000
670    14.000000
671    14.166667
672    13.750000
673     7.833333
674     0.400000
675     4.795833
676     5.925000
677     5.306950
678    16.650000
679    91.888200
680     2.227500
681    17.621533
682     5.370833
683    11.816667
684    17.166667
685    11.929867
686    10.281250
687     5.361800
688     4.799300
689    38.222917
690    15.166667
691     3.736117
692    12.099160
693     5.870833
694    14.591667
695    11.250000
696     9.175000
697     2.346660
698    27.147217
699     8.775000
700    41.420833
701    10.547917
702     6.075700
703     5.956950
704     6.309033
705    11.166667
706    10.250000
707    11.714583
708    29.258333
709     4.249160
710    12.584033
711     5.510000
712    17.166667
713     6.913883
714    11.166667
715     4.941667
716    44.587500
717     6.750000
718     3.700000
719     7.295833
720     7.166667
721     4.675700
722     8.166667
723    10.833333
724    13.850000
725     5.277083
726     9.500000
727     2.347500
728     9.000000
729     6.154167
730    40.389583
731     5.464583
732     0.400000
733     6.333333
734     6.333333
735     7.933333
736    14.895833
737    91.554867
738     2.179160
739     2.179160
740     6.400000
741    19.475000
742    48.229167
743     7.350000
744     7.154167
745    24.000000
746     6.875000
747     7.666667
748    12.350000
749     6.958333
750     5.333333
751     3.912500
752     7.583333
753     5.649300
754    19.833333
755     3.361667
756     6.465967
757     5.250000
758     7.508333
759    20.250000
760     3.500000
761     8.520833
762     5.204867
763    26.833333
764     4.462500
765    21.993050
766     8.120000
767     6.875000
768     5.630000
769     7.227083
770     6.083333
771     9.809033
772    11.583333
773     2.045000
774    14.000000
775     4.791667
776     2.150000
777     3.579167
778     2.147500
779    42.889583
780     4.038200
781    12.833333
782    10.000000
783     5.890000
784     5.841667
785     5.875000
786     4.915967
787     7.520833
788     4.762500
789    21.033333
790     2.150000
791     7.333333
792    16.510000
793     6.339160
794     5.982633
795     9.000000
796    12.821533
797     7.280550
798     6.704867
799     9.858333
800     8.166667
801    10.375000
802    22.666667
803     2.322783
804     6.329167
805     6.962500
806     6.666667
807     4.795833
808     9.000000
809    14.850000
810     6.147917
811    11.025000
812     7.916667
813     7.712500
814     6.925000
815     0.200000
816     5.654167
817    12.000700
818     8.741667
819     7.650000
820    24.916667
821     6.610417
822     6.500000
823     7.412500
824     8.281250
825     1.990000
826    11.899160
827     7.167367
828     2.350000
829    24.000000
830     5.742367
831     4.096667
832     2.045840
833     5.642367
834     4.883333
835    21.026383
836     5.443750
837     2.210000
838    15.415967
839     6.340000
840     5.154167
841     4.750000
842    10.500000
843     7.322917
844     4.777083
845     8.758333
846    16.510000
847     7.649300
848    10.666667
849    18.420840
850     7.379167
851    14.129167
852     4.874300
853     9.733333
854    12.166667
855     5.391667
856    35.644450
857    13.258333
858     8.376383
859     2.045840
860    10.018050
861     5.916667
862    12.654867
863    16.510000
864     6.500000
865     9.666667
866     7.476383
867    13.749300
868     2.500000
869     3.522217
870     6.149300
871    17.259033
872     6.500000
873     9.833333
874     9.333333
875     4.370833
876     5.474300
877     4.982633
878     2.179160
879    23.693050
880     9.166667
881     7.315967
882     5.919450
883     6.750000
884     5.841667
885    12.687500
886     7.000000
887     8.500000
888     5.890000
889     9.666667
890     7.125000
dtype: float64

In [339]:
titanic.sum(axis = 0)

/var/folders/gj/jnywjty93y99mk904fhg73br0000gn/T/ipykernel_4341/2227187014.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  titanic.sum(axis = 0)

survived                                                  342
pclass                                                   2057
sex         malefemalefemalefemalemalemalemalemalefemalefe...
age                                                  21205.17
sibsp                                                     466
parch                                                     340
fare                                               28693.9493
dtype: object

In [340]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [341]:
titanic.fare.cumsum(axis = 0)
# 요금의 누적합을 나타내준다.

0          7.2500
1         78.5333
2         86.4583
3        139.5583
4        147.6083
5        156.0666
6        207.9291
7        229.0041
8        240.1374
9        270.2082
10       286.9082
11       313.4582
12       321.5082
13       352.7832
14       360.6374
15       376.6374
16       405.7624
17       418.7624
18       436.7624
19       443.9874
20       469.9874
21       482.9874
22       491.0166
23       526.5166
24       547.5916
25       578.9791
26       586.2041
27       849.2041
28       857.0833
29       864.9791
30       892.6999
31      1039.2207
32      1046.9707
33      1057.4707
34      1139.6415
35      1191.6415
36      1198.8707
37      1206.9207
38      1224.9207
39      1236.1624
40      1245.6374
41      1266.6374
42      1274.5332
43      1316.1124
44      1323.9916
45      1332.0416
46      1347.5416
47      1355.2916
48      1376.9708
49      1394.7708
50      1434.4583
51      1442.2583
52      1518.9875
53      1544.9875
54      1606.9667
55      1642.4667
56      1652.9667
57      1660.1959
58      1687.9459
59      1734.8459
60      1742.0751
61      1822.0751
62      1905.5501
63      1933.4501
64      1961.1709
65      1976.4167
66      1986.9167
67      1995.0750
68      2003.0000
69      2011.6625
70      2022.1625
71      2069.0625
72      2142.5625
73      2157.0167
74      2213.5125
75      2221.1625
76      2229.0583
77      2237.1083
78      2266.1083
79      2278.5833
80      2287.5833
81      2297.0833
82      2304.8708
83      2351.9708
84      2362.4708
85      2378.3208
86      2412.6958
87      2420.7458
88      2683.7458
89      2691.7958
90      2699.8458
91      2707.7000
92      2768.8750
93      2789.4500
94      2796.7000
95      2804.7500
96      2839.4042
97      2902.7625
98      2925.7625
99      2951.7625
100     2959.6583
101     2967.5541
102     3044.8416
103     3053.4958
104     3061.4208
105     3069.3166
106     3076.9666
107     3084.7416
108     3092.6374
109     3116.7874
110     3168.7874
111     3183.2416
112     3191.2916
113     3201.1166
114     3215.5749
115     3223.4999
116     3231.2499
117     3252.2499
118     3499.7707
119     3531.0457
120     3604.5457
121     3612.5957
122     3642.6665
123     3655.6665
124     3732.9540
125     3744.1957
126     3751.9457
127     3759.0874
128     3781.4457
129     3788.4207
130     3796.3165
131     3803.3665
132     3817.8665
133     3843.8665
134     3856.8665
135     3871.9123
136     3898.1956
137     3951.2956
138     3960.5123
139     4039.7123
140     4054.9581
141     4062.7081
142     4078.5581
143     4085.3081
144     4096.8081
145     4133.5581
146     4141.3539
147     4175.7289
148     4201.7289
149     4214.7289
150     4227.2539
151     4293.8539
152     4301.9039
153     4316.4039
154     4323.7164
155     4385.0956
156     4392.8289
157     4400.8789
158     4409.5414
159     4479.0914
160     4495.1914
161     4510.9414
162     4518.7164
163     4527.3789
164     4567.0664
165     4587.5914
166     4642.5914
167     4670.4914
168     4696.4164
169     4752.9122
170     4786.4122
171     4815.5372
172     4826.6705
173     4834.5955
174     4865.2913
175     4873.1455
176     4898.6122
177     4927.3247
178     4940.3247
179     4940.3247
180     5009.8747
181     5024.9247
182     5056.3122
183     5095.3122
184     5117.3372
185     5167.3372
186     5182.8372
187     5209.3872
188     5224.8872
189     5232.7830
190     5245.7830
191     5258.7830
192     5266.6372
193     5292.6372
194     5320.3580
195     5466.8788
196     5474.6288
197     5483.0330
198     5490.7830
199     5503.7830
200     5513.2830
201     5582.8330
202     5589.3288
203     5596.5538
204     5604.6038
205     5615.0663
206     5630.9163
207     5649.7038
208     5657.4538
209     5688.4538
210     5695.5038
211     5716.5038
212     5723.7538
213     5736.7538
214     5744.5038
215     5857.7788
216     5865.7038
217     5892.7038
218     5968.9955
219     5979.4955
220     5987.5455
221     6000.5455
222     6008.5955
223     6016.4913
224     6106.4913
225     6115.8413
226     6126.3413
227     6133.5913
228     6146.5913
229     6172.0580
230     6255.5330
231     6263.3080
232     6276.8080
233     6308.1955
234     6318.6955
235     6326.2455
236     6352.2455
237     6378.4955
238     6388.9955
239     6401.2705
240     6415.7247
241     6431.2247
242     6441.7247
243     6448.8497
244     6456.0747
245     6546.0747
246     6553.8497
247     6568.3497
248     6620.9039
249     6646.9039
250     6654.1539
251     6664.6164
252     6691.1664
253     6707.2664
254     6727.4789
255     6742.7247
256     6821.9247
257     6908.4247
258     7420.7539
259     7446.7539
260     7454.5039
261     7485.8914
262     7565.5414
263     7565.5414
264     7573.2914
265     7583.7914
266     7623.4789
267     7631.2539
268     7784.7164
269     7920.3497
270     7951.3497
271     7951.3497
272     7970.8497
273     8000.5497
274     8008.2997
275     8086.2580
276     8094.0080
277     8094.0080
278     8123.1330
279     8143.3830
280     8151.1330
281     8158.9872
282     8168.4872
283     8176.5372
284     8202.5372
285     8211.1997
286     8220.6997
287     8228.5955
288     8241.5955
289     8249.3455
290     8328.1955
291     8419.2747
292     8432.1497
293     8440.9997
294     8448.8955
295     8476.6163
296     8483.8455
297     8635.3955
298     8665.8955
299     8913.4163
300     8921.1663
301     8944.4163
302     8944.4163
303     8956.7663
304     8964.8163
305     9116.3663
306     9227.2496
307     9336.1496
308     9360.1496
309     9417.0788
310     9500.2371
311     9762.6121
312     9788.6121
313     9796.5079
314     9822.7579
315     9830.6121
316     9856.6121
317     9870.6121
318    10035.4788
319    10169.9788
320    10177.2288
321    10185.1246
322    10197.4746
323    10226.4746
324    10296.0246
325    10431.6579
326    10437.8954
327    10450.8954
328    10471.4204
329    10529.3996
330    10552.6496
331    10581.1496
332    10734.6121
333    10752.6121
334    10886.2621
335    10894.1579
336    10960.7579
337    11095.2579
338    11103.3079
339    11138.8079
340    11164.8079
341    11427.8079
342    11440.8079
343    11453.8079
344    11466.8079
345    11479.8079
346    11492.8079
347    11508.9079
348    11524.8079
349    11533.4704
350    11542.6954
351    11577.6954
352    11584.9246
353    11602.7246
354    11609.9496
355    11619.4496
356    11674.4496
357    11687.4496
358    11695.3288
359    11703.2080
360    11731.1080
361    11758.8288
362    11773.2830
363    11780.3330
364    11795.8330
365    11803.0830
366    11878.3330
367    11885.5622
368    11893.3122
369    11962.6122
370    12018.0539
371    12024.5497
372    12032.5997
373    12168.2330
374    12189.3080
375    12271.4788
376    12278.7288
377    12490.2288
378    12494.2413
379    12502.0163
380    12729.5413
381    12745.2830
382    12753.2080
383    12805.2080
384    12813.1038
385    12886.6038
386    12933.5038
387    12946.5038
388    12954.2330
389    12966.2330
390    13086.2330
391    13094.0288
392    13101.9538
393    13215.2288
394    13231.9288
395    13239.7246
396    13247.5788
397    13273.5788
398    13284.0788
399    13296.7288
400    13304.6538
401    13312.7038
402    13322.5288
403    13338.3788
404    13347.0413
405    13368.0413
406    13375.7913
407    13394.5413
408    13402.3163
409    13427.7830
410    13435.6788
411    13442.5371
412    13532.5371
413    13532.5371
414    13540.4621
415    13548.5121
416    13581.0121
417    13594.0121
418    13607.0121
419    13631.1621
420    13639.0579
421    13646.7912
422    13654.6662
423    13669.0662
424    13689.2787
425    13696.5287
426    13722.5287
427    13748.5287
428    13756.2787
429    13764.3287
430    13790.8787
431    13806.9787
432    13832.9787
433    13840.1037
434    13896.0037
435    14016.0037
436    14050.3787
437    14069.1287
438    14332.1287
439    14342.6287
440    14368.8787
441    14378.3787
442    14386.1537
443    14399.1537
444    14407.2662
445    14489.1245
446    14508.6245
447    14535.1745
448    14554.4328
449    14584.9328
450    14612.6828
451    14632.6495
452    14660.3995
453    14749.5037
454    14757.5537
455    14765.4495
456    14791.9995
457    14843.8620
458    14854.3620
459    14862.1120
460    14888.6620
461    14896.7120
462    14935.2120
463    14948.2120
464    14956.2620
465    14963.3120
466    14963.3120
467    14989.8620
468    14997.5870
469    15016.8453
470    15024.0953
471    15032.7578
472    15060.5078
473    15074.2995
474    15084.1370
475    15136.1370
476    15157.1370
477    15164.1828
478    15171.7036
479    15183.9911
480    15230.8911
481    15230.8911
482    15238.9411
483    15248.5286
484    15339.6078
485    15365.0745
486    15455.0745
487    15484.7745
488    15492.8245
489    15508.7245
490    15528.6912
491    15535.9412
492    15566.4412
493    15615.9454
494    15623.9954
495    15638.4537
496    15716.7204
497    15731.8204
498    15883.3704
499    15891.1662
500    15899.8287
501    15907.5787
502    15915.2079
503    15924.7954
504    16011.2954
505    16120.1954
506    16146.1954
507    16172.7454
508    16195.2704
509    16251.7662
510    16259.5162
511    16267.5662
512    16293.8537
513    16353.2537
514    16360.7495
515    16394.7703
516    16405.2703
517    16429.4203
518    16455.4203
519    16463.3161
520    16556.8161
521    16564.7119
522    16571.9369
523    16629.9161
524    16637.1453
525    16644.8953
526    16655.3953
527    16877.1745
528    16885.0995
529    16896.5995
530    16922.5995
531    16929.8287
532    16937.0579
533    16959.4162
534    16968.0787
535    16994.3287
536    17020.8787
537    17127.3037
538    17141.8037
539    17191.3037
540    17262.3037
541    17293.5787
542    17324.8537
543    17350.8537
544    17457.2787
545    17483.2787
546    17509.2787
547    17523.1412
548    17543.6662
549    17580.4162
550    17691.2995
551    17717.2995
552    17725.1287
553    17732.3537
554    17740.1287
555    17766.6787
556    17806.2787
557    18033.8037
558    18113.4537
559    18130.8537
560    18138.6037
561    18146.4995
562    18159.9995
563    18168.0495
564    18176.0995
565    18200.2495
566    18208.1453
567    18229.2203
568    18236.4495
569    18244.3037
570    18254.8037
571    18306.2829
572    18332.6704
573    18340.4204
574    18348.4704
575    18362.9704
576    18375.9704
577    18431.8704
578    18446.3287
579    18454.2537
580    18484.2537
581    18595.1370
582    18621.1370
583    18661.2620
584    18669.9745
585    18749.6245
586    18764.6245
587    18843.8245
588    18851.8745
589    18859.9245
590    18867.0495
591    18945.3162
592    18952.5662
593    18960.3162
594    18986.3162
595    19010.4662
596    19043.4662
597    19043.4662
598    19050.6912
599    19107.6204
600    19134.6204
601    19142.5162
602    19184.9162
603    19192.9662
604    19219.5162
605    19235.0662
606    19242.9620
607    19273.4620
608    19315.0412
609    19468.5037
610    19499.7787
611    19506.8287
612    19522.3287
613    19530.0787
614    19538.1287
615    19603.1287
616    19617.5287
617    19633.6287
618    19672.6287
619    19683.1287
620    19697.5829
621    19750.1371
622    19765.8788
623    19773.7330
624    19789.8330
625    19822.1538
626    19834.5038
627    19912.4621
628    19920.3579
629    19928.0912
630    19958.0912
631    19965.1454
632    19995.6454
633    19995.6454
634    20023.5454
635    20036.5454
636    20044.4704
637    20070.7204
638    20110.4079
639    20126.5079
640    20134.3621
641    20203.6621
642    20231.5621
643    20288.0579
644    20307.3162
645    20384.0454
646    20391.9412
647    20427.4412
648    20434.9912
649    20442.5412
650    20450.4370
651    20473.4370
652    20481.8703
653    20489.6995
654    20496.4495
655    20569.9495
656    20577.8453
657    20593.3453
658    20606.3453
659    20719.6203
660    20853.2703
661    20860.4953
662    20886.0828
663    20893.5786
664    20901.5036
665    20975.0036
666    20988.0036
667    20995.7786
668    21003.8286
669    21055.8286
670    21094.8286
671    21146.8286
672    21157.3286
673    21170.3286
674    21170.3286
675    21178.1036
676    21186.1536
677    21195.9953
678    21242.8953
679    21755.2245
680    21763.3620
681    21840.0912
682    21849.3162
683    21896.2162
684    21935.2162
685    21976.7954
686    22016.4829
687    22026.6537
688    22034.4495
689    22245.7870
690    22302.7870
691    22316.2037
692    22372.6995
693    22379.9245
694    22406.4745
695    22419.9745
696    22428.0245
697    22435.7578
698    22546.6411
699    22554.2911
700    22781.8161
701    22808.1036
702    22822.5578
703    22830.2995
704    22838.1537
705    22864.1537
706    22877.6537
707    22903.9412
708    23055.4912
709    23070.7370
710    23120.2412
711    23146.7912
712    23198.7912
713    23208.2745
714    23221.2745
715    23228.9245
716    23456.4495
717    23466.9495
718    23482.4495
719    23490.2245
720    23523.2245
721    23530.2787
722    23543.2787
723    23556.2787
724    23609.3787
725    23618.0412
726    23639.0412
727    23646.7787
728    23672.7787
729    23680.7037
730    23892.0412
731    23910.8287
732    23910.8287
733    23923.8287
734    23936.8287
735    23952.9287
736    23987.3037
737    24499.6329
738    24507.5287
739    24515.4245
740    24545.4245
741    24624.2745
742    24886.6495
743    24902.7495
744    24910.6745
745    24981.6745
746    25001.9245
747    25014.9245
748    25068.0245
749    25075.7745
750    25098.7745
751    25111.2495
752    25120.7495
753    25128.6453
754    25193.6453
755    25208.1453
756    25215.9411
757    25227.4411
758    25235.4911
759    25321.9911
760    25336.4911
761    25343.6161
762    25350.8453
763    25470.8453
764    25478.6203
765    25556.5786
766    25596.1786
767    25603.9286
768    25628.0786
769    25636.4411
770    25645.9411
771    25653.7953
772    25664.2953
773    25671.5203
774    25694.5203
775    25702.2703
776    25710.0203
777    25722.4953
778    25730.2328
779    25941.5703
780    25948.7995
781    26005.7995
782    26035.7995
783    26059.2495
784    26066.2995
785    26073.5495
786    26081.0453
787    26110.1703
788    26130.7453
789    26209.9453
790    26217.6953
791    26243.6953
792    26313.2453
793    26343.9411
794    26351.8369
795    26364.8369
796    26390.7661
797    26399.4494
798    26406.6786
799    26430.8286
800    26443.8286
801    26470.0786
802    26590.0786
803    26598.5953
804    26605.5703
805    26613.3453
806    26613.3453
807    26621.1203
808    26634.1203
809    26687.2203
810    26695.1078
811    26719.2578
812    26729.7578
813    26761.0328
814    26769.0828
815    26769.0828
816    26777.0078
817    26814.0120
818    26820.4620
819    26848.3620
820    26941.8620
821    26950.5245
822    26950.5245
823    26962.9995
824    27002.6870
825    27009.6370
826    27066.1328
827    27103.1370
828    27110.8870
829    27190.8870
830    27205.3412
831    27224.0912
832    27231.3204
833    27239.1746
834    27247.4746
835    27330.6329
836    27339.2954
837    27347.3454
838    27403.8412
839    27433.5412
840    27441.4662
841    27451.9662
842    27482.9662
843    27489.4037
844    27498.0662
845    27505.6162
846    27575.1662
847    27583.0620
848    27616.0620
849    27705.1662
850    27736.4412
851    27744.2162
852    27759.4620
853    27798.8620
854    27824.8620
855    27834.2120
856    27999.0787
857    28025.6287
858    28044.8870
859    28052.1162
860    28066.2245
861    28077.7245
862    28103.6537
863    28173.2037
864    28186.2037
865    28199.2037
866    28213.0620
867    28263.5578
868    28273.0578
869    28284.1911
870    28292.0869
871    28344.6411
872    28349.6411
873    28358.6411
874    28382.6411
875    28389.8661
876    28399.7119
877    28407.6077
878    28415.5035
879    28498.6618
880    28524.6618
881    28532.5576
882    28543.0743
883    28553.5743
884    28560.6243
885    28589.7493
886    28602.7493
887    28632.7493
888    28656.1993
889    28686.1993
890    28693.9493
Name: fare, dtype: float64

In [342]:
titanic.corr()
# 데이터 들 간의 연관도를 백분율로 나타내준다. 1에 가까울수록 서로간의 한 방향으로 상관관계가 높은 것이다. -1에 가까우면
# 서로 반대방향으로 상관관계가 높은 것이지.

          survived    pclass       age     sibsp     parch      fare
survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
sibsp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [343]:
titanic.survived.corr(titanic.pclass)

-0.33848103596101536

### The agg() method

In [344]:
import pandas as pd

In [345]:
titanic = pd.read_csv("titanic.csv")

In [346]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [347]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [348]:
titanic.mean()

/var/folders/gj/jnywjty93y99mk904fhg73br0000gn/T/ipykernel_4341/929819788.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  titanic.mean()

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [349]:
titanic.agg("mean")

/var/folders/gj/jnywjty93y99mk904fhg73br0000gn/T/ipykernel_4341/2843458717.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  titanic.agg("mean")

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [350]:
titanic.agg(["mean", "std"])

/var/folders/gj/jnywjty93y99mk904fhg73br0000gn/T/ipykernel_4341/4248934088.py:1: FutureWarning: ['sex', 'embarked', 'deck'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  titanic.agg(["mean", "std"])

      survived    pclass        age     sibsp     parch       fare
mean  0.383838  2.308642  29.699118  0.523008  0.381594  32.204208
std   0.486592  0.836071  14.526497  1.102743  0.806057  49.693429

In [351]:
titanic.agg(["mean", "std", "min", "max", "median"])
# 다음과 같이 agg메서드를 사용해서 요약통계에 해당하는 자료들을 유도리있게 사용할 수 있따.

/var/folders/gj/jnywjty93y99mk904fhg73br0000gn/T/ipykernel_4341/2234451932.py:1: FutureWarning: ['sex', 'embarked', 'deck'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  titanic.agg(["mean", "std", "min", "max", "median"])

        survived    pclass     sex        age     sibsp     parch        fare
mean    0.383838  2.308642     NaN  29.699118  0.523008  0.381594   32.204208
std     0.486592  0.836071     NaN  14.526497  1.102743  0.806057   49.693429
min     0.000000  1.000000  female   0.420000  0.000000  0.000000    0.000000
max     1.000000  3.000000    male  80.000000  8.000000  6.000000  512.329200
median  0.000000  3.000000     NaN  28.000000  0.000000  0.000000   14.454200

In [352]:
titanic.agg({"survived": "mean", "age":["min", "max"]})

      survived    age
mean  0.383838    NaN
min        NaN   0.42
max        NaN  80.00

### apply(), map() and applymap()

In [353]:
import pandas as pd

In [354]:
sales = pd.read_csv("sales.csv", index_col = 0)

In [355]:
sales

        Mon  Tue  Wed   Thu  Fri
Steven   34   27   15   NaN   33
Mike     45    9   74  87.0   12
Andi     17   33   54   8.0   29
Paul     87   67   27  45.0    7

In [356]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Steven to Paul
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mon     4 non-null      int64
 1   Tue     4 non-null      int64
 2   Wed     4 non-null      int64
 3   Thu     3 non-null      float64
 4   Fri     4 non-null      int64
dtypes: float64(1), int64(4)
memory usage: 192.0+ bytes

In [357]:
sales.min(axis = 0)
#axis가 0이면 인덱스 대상으로 분석

Mon    17.0
Tue     9.0
Wed    15.0
Thu     8.0
Fri     7.0
dtype: float64

In [358]:
sales.min(axis = 1)
# 1이면 열 대상 분석, 각 열중 대상값이 가장 작은 것

Steven    15.0
Mike       9.0
Andi       8.0
Paul       7.0
dtype: float64

In [359]:
def range(series):
    return series.max() - series.min()

In [360]:
sales.apply(range, axis = 0)
#apply함수는 사용 시 함수의 리턴값을 데이터 프레임에 적용 가능하도록 도와준다.

Mon    70.0
Tue    58.0
Wed    59.0
Thu    79.0
Fri    26.0
dtype: float64

In [361]:
sales.apply(lambda x : x.max() - x.min(), axis=0)
# 람다 함수를 통해서도 적용이 가능하다.

Mon    70.0
Tue    58.0
Wed    59.0
Thu    79.0
Fri    26.0
dtype: float64

In [362]:
summer = pd.read_csv("summer.csv")

In [363]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [364]:
summer.Athlete.apply(lambda x: x[0])
# Athlete 데이터에 lambda함수를 적용해서 첫 문자를 불러온다.

0        H
1        H
2        D
3        M
4        C
        ..
31160    J
31161    R
31162    T
31163    A
31164    L
Name: Athlete, Length: 31165, dtype: object

In [365]:
summer.Athlete.map(lambda x: x[0])
# map메서드를 통해서도 모든 데이터에 일괄적 함수를 적용해줄 수 있다.

0        H
1        H
2        D
3        M
4        C
        ..
31160    J
31161    R
31162    T
31163    A
31164    L
Name: Athlete, Length: 31165, dtype: object

In [366]:
summer.iloc[:,1:3].applymap(lambda x: x[0])
# 다수의 열 데이터에 적용할 때는 applymap 메서드를 통해서 일괄 적용을 실시한다.

      City Sport
0        A     A
1        A     A
2        A     A
3        A     A
4        A     A
...    ...   ...
31160    L     W
31161    L     W
31162    L     W
31163    L     W
31164    L     W

[31165 rows x 2 columns]

In [367]:
sales.applymap(lambda x: 0.4*x-5)

         Mon   Tue   Wed   Thu  Fri
Steven   8.6   5.8   1.0   NaN  8.2
Mike    13.0  -1.4  24.6  29.8 -0.2
Andi     1.8   8.2  16.6  -1.8  6.6
Paul    29.8  21.8   5.8  13.0 -2.2

In [368]:
sales*0.4-5

         Mon   Tue   Wed   Thu  Fri
Steven   8.6   5.8   1.0   NaN  8.2
Mike    13.0  -1.4  24.6  29.8 -0.2
Andi     1.8   8.2  16.6  -1.8  6.6
Paul    29.8  21.8   5.8  13.0 -2.2

### Hierarchical Indexing (MultiIndex) Intro

In [369]:
import pandas as pd

In [370]:
titanic = pd.read_csv("titanic.csv")
pd.options.display.max_rows = 20

In [371]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [372]:
titanic = titanic.iloc[:50, :]

In [373]:
titanic.set_index(["pclass", "sex"], inplace = True)
# 인덱스는 하나만 하는 것은 아니며 보이는 것처럼 2개 이상의 인덱스 칼럼을 가질 수도 있다.(멀티인덱스)

In [374]:
titanic

               survived   age  sibsp  parch     fare embarked deck
pclass sex
3      male           0  22.0      1      0   7.2500        S  NaN
1      female         1  38.0      1      0  71.2833        C    C
3      female         1  26.0      0      0   7.9250        S  NaN
1      female         1  35.0      1      0  53.1000        S    C
3      male           0  35.0      0      0   8.0500        S  NaN
...                 ...   ...    ...    ...      ...      ...  ...
       male           0   NaN      0      0   8.0500        S  NaN
       male           0   NaN      1      0  15.5000        Q  NaN
       female         1   NaN      0      0   7.7500        Q  NaN
       male           0   NaN      2      0  21.6792        C  NaN
       female         0  18.0      1      0  17.8000        S  NaN

[50 rows x 7 columns]

In [375]:
titanic.sort_index(ascending = [True, True], inplace = True)
# 인덱스 메서드와 파라미터를 사용해서 인덱스의 정렬값을 커스텀할 수 있다.

/var/folders/gj/jnywjty93y99mk904fhg73br0000gn/T/ipykernel_4341/1930001234.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic.sort_index(ascending = [True, True], inplace = True )

In [376]:
titanic

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
...                 ...   ...    ...    ...       ...      ...  ...
3      male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN

[50 rows x 7 columns]

In [377]:
titanic.swaplevel()
# swaplevel()메서드를 사용하면 인덱스의 출현 순서를 바꿔줄 수 있다.

               survived   age  sibsp  parch      fare embarked deck
sex    pclass
female 1              1  38.0      1      0   71.2833        C    C
       1              1  35.0      1      0   53.1000        S    C
       1              1  58.0      0      0   26.5500        S    C
       1              1   NaN      1      0  146.5208        C    B
male   1              0  54.0      0      0   51.8625        S    E
...                 ...   ...    ...    ...       ...      ...  ...
       3              0  21.0      0      0    8.0500        S  NaN
       3              0   NaN      0      0    7.8958        C  NaN
       3              0   NaN      0      0    8.0500        S  NaN
       3              0   NaN      1      0   15.5000        Q  NaN
       3              0   NaN      2      0   21.6792        C  NaN

[50 rows x 7 columns]

In [378]:
titanic

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
...                 ...   ...    ...    ...       ...      ...  ...
3      male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN

[50 rows x 7 columns]

In [379]:
titanic.reset_index(inplace = True)
# reset_index를 통해서 깔끔하게 인덱스를 rangeindex로 재생성을 해주었다.

In [380]:
titanic

    pclass     sex  survived   age  sibsp  parch      fare embarked deck
0        1  female         1  38.0      1      0   71.2833        C    C
1        1  female         1  35.0      1      0   53.1000        S    C
2        1  female         1  58.0      0      0   26.5500        S    C
3        1  female         1   NaN      1      0  146.5208        C    B
4        1    male         0  54.0      0      0   51.8625        S    E
..     ...     ...       ...   ...    ...    ...       ...      ...  ...
45       3    male         0  21.0      0      0    8.0500        S  NaN
46       3    male         0   NaN      0      0    7.8958        C  NaN
47       3    male         0   NaN      0      0    8.0500        S  NaN
48       3    male         0   NaN      1      0   15.5000        Q  NaN
49       3    male         0   NaN      2      0   21.6792        C  NaN

[50 rows x 9 columns]

### Hierarchical Indexing (MultiIndex) Part 2

In [381]:
import pandas as pd

In [382]:
titanic = pd.read_csv("titanic.csv")

In [383]:
titanic = titanic.iloc[:50,]

In [384]:
titanic

    survived  pclass     sex   age  sibsp  parch     fare embarked deck
0          0       3    male  22.0      1      0   7.2500        S  NaN
1          1       1  female  38.0      1      0  71.2833        C    C
2          1       3  female  26.0      0      0   7.9250        S  NaN
3          1       1  female  35.0      1      0  53.1000        S    C
4          0       3    male  35.0      0      0   8.0500        S  NaN
..       ...     ...     ...   ...    ...    ...      ...      ...  ...
45         0       3    male   NaN      0      0   8.0500        S  NaN
46         0       3    male   NaN      1      0  15.5000        Q  NaN
47         1       3  female   NaN      0      0   7.7500        Q  NaN
48         0       3    male   NaN      2      0  21.6792        C  NaN
49         0       3  female  18.0      1      0  17.8000        S  NaN

[50 rows x 9 columns]

In [385]:
titanic = titanic.set_index(["pclass", "sex"]).sort_index(ascending = True)

In [426]:
titanic

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
...                 ...   ...    ...    ...       ...      ...  ...
3      male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN

[50 rows x 7 columns]

In [387]:
titanic.loc[1]

        survived   age  sibsp  parch      fare embarked deck
sex
female         1  38.0      1      0   71.2833        C    C
female         1  35.0      1      0   53.1000        S    C
female         1  58.0      0      0   26.5500        S    C
female         1   NaN      1      0  146.5208        C    B
male           0  54.0      0      0   51.8625        S    E
male           1  28.0      0      0   35.5000        S    A
male           0  19.0      3      2  263.0000        S    C
male           0  40.0      0      0   27.7208        C  NaN
male           0  28.0      1      0   82.1708        C  NaN
male           0  42.0      1      0   52.0000        S  NaN

In [388]:
titanic.loc[[1,2]]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN

In [389]:
titanic.loc[:2]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN

In [390]:
titanic.loc[1, "female"]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B

In [391]:
#titanic.loc[1, "female", "age"]

In [392]:
titanic.loc[(1,"female")]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B

In [393]:
titanic.loc[(1,"female"), "age"]
# 멀티 인덱스의 인덱스 값을 특정할 때는 튜플 값을 통해서 지정한다.

pclass  sex
1       female    38.0
        female    35.0
        female    58.0
        female     NaN
Name: age, dtype: float64

In [394]:
titanic.loc[([1,2],"female"), ["age", "fare"]]

                age      fare
pclass sex
1      female  38.0   71.2833
       female  35.0   53.1000
       female  58.0   26.5500
       female   NaN  146.5208
2      female  14.0   30.0708
       female  55.0   16.0000
       female  27.0   21.0000
       female   3.0   41.5792

In [395]:
titanic.loc[([1, 2],"female"), :]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN

In [396]:
titanic

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
...                 ...   ...    ...    ...       ...      ...  ...
3      male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN

[50 rows x 7 columns]

In [397]:
titanic.loc[(slice(1), slice("female")), :]
# 슬라이스 메서드를 통해서도 데이터를 잘라낼 수 있다.

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B

### String Operations Intro / Refresher

In [398]:
"Hello World"

'Hello World'

In [399]:
type("Hello World")

str

In [400]:
hello = "Hello World"
hello

'Hello World'

In [401]:
len(hello)

11

In [402]:
hello.lower()

'hello world'

In [403]:
hello.upper()

'HELLO WORLD'

In [404]:
hello.title()

'Hello World'

In [405]:
hello.split(" ")
# " "공백을 기점으로 각 단어를 분할하여 리스트를 만든다.

['Hello', 'World']

In [406]:
hello.replace("Hello", "Hi")
# 지정한 단어를 바꾼다.

'Hi World'

In [407]:
import pandas as pd

In [408]:
summer = pd.read_csv("summer.csv")

In [409]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [410]:
names = summer.loc[:9, "Athlete"].copy()

In [411]:
names

0            HAJOS, Alfred
1         HERSCHMANN, Otto
2        DRIVAS, Dimitrios
3       MALOKINIS, Ioannis
4       CHASAPIS, Spiridon
5    CHOROPHAS, Efstathios
6            HAJOS, Alfred
7         ANDREOU, Joannis
8    CHOROPHAS, Efstathios
9            NEUMANN, Paul
Name: Athlete, dtype: object

In [412]:
names.dtypes

dtype('O')

In [413]:
names[0]

'HAJOS, Alfred'

In [414]:
type(names[0])

str

In [415]:
names.str.lower()

0            hajos, alfred
1         herschmann, otto
2        drivas, dimitrios
3       malokinis, ioannis
4       chasapis, spiridon
5    chorophas, efstathios
6            hajos, alfred
7         andreou, joannis
8    chorophas, efstathios
9            neumann, paul
Name: Athlete, dtype: object

### String Operations in Pandas

In [429]:
import pandas as pd

In [430]:
summer = pd.read_csv("summer.csv")

In [431]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [432]:
names = summer.loc[:9, "Athlete"].copy()

In [433]:
names

0            HAJOS, Alfred
1         HERSCHMANN, Otto
2        DRIVAS, Dimitrios
3       MALOKINIS, Ioannis
4       CHASAPIS, Spiridon
5    CHOROPHAS, Efstathios
6            HAJOS, Alfred
7         ANDREOU, Joannis
8    CHOROPHAS, Efstathios
9            NEUMANN, Paul
Name: Athlete, dtype: object

In [435]:
names.str.lower()
# 데이터 프레임에 문자열을 통제할 때는 앞에 str이라는 프로퍼티를 정의하여 통제해야 한다.

0            hajos, alfred
1         herschmann, otto
2        drivas, dimitrios
3       malokinis, ioannis
4       chasapis, spiridon
5    chorophas, efstathios
6            hajos, alfred
7         andreou, joannis
8    chorophas, efstathios
9            neumann, paul
Name: Athlete, dtype: object

In [422]:
names.str.title()

0            Hajos, Alfred
1         Herschmann, Otto
2        Drivas, Dimitrios
3       Malokinis, Ioannis
4       Chasapis, Spiridon
5    Chorophas, Efstathios
6            Hajos, Alfred
7         Andreou, Joannis
8    Chorophas, Efstathios
9            Neumann, Paul
Name: Athlete, dtype: object

In [437]:
summer.Event.str.split(" ", n = 2, expand= True)
# n파라미터는 스플릿으로 나눠지는 단어의 숫자으 공백을 최대 2개로 제한하는 것이다. 따라서 2개까지의 공백을 기준으로 나뉘게 된다.
# expand는 해당 결과를 토대로 각 단어별 열을 새로 만드는 것이다. 만약 False라면 하나의 열에 3개의 단어가 별도로 나뉘어 들어간다.

          0          1            2
0      100M  Freestyle         None
1      100M  Freestyle         None
2      100M  Freestyle  For Sailors
3      100M  Freestyle  For Sailors
4      100M  Freestyle  For Sailors
...     ...        ...          ...
31160    Wg         84           KG
31161    Wg         96           KG
31162    Wg         96           KG
31163    Wg         96           KG
31164    Wg         96           KG

[31165 rows x 3 columns]

In [424]:
summer[summer.Event.str.contains("100M")]
# contains라는 문자열 메서드를 통해서 100M를 포함하는 모든 데이터에 접근이 가능하다.

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
29660,2012,London,Athletics,Athletics,"STEWART, Kerron",JAM,Women,4X100M Relay,Silver
29661,2012,London,Athletics,Athletics,"BRYZGINA, Yelyzaveta",UKR,Women,4X100M Relay,Bronze
29662,2012,London,Athletics,Athletics,"POVH, Olesya",UKR,Women,4X100M Relay,Bronze
29663,2012,London,Athletics,Athletics,"RYEMYEN, Mariya",UKR,Women,4X100M Relay,Bronze
29664,2012,London,Athletics,Athletics,"STUY, Hrystyna",UKR,Women,4X100M Relay,Bronze